.page-scroller
    position fixed
    z-index 1050
    bottom 75px
    right 50px
    display: none

    &__btn-to-top
        width 20px
        height 30px
        display block
        background url('../img/arrows-to-top.png') 0 0 no-repeat
        cursor pointer
        &:hover
            background-position 0 -51px

