<footer block="app-footer">
    <div elem="content" mix="block:container mt-3 mb-3">
        <p><small><a href="https://github.com/yunusga/marmelad" rel="noopener" target="_blank">Marmelad v{{app.package.version}}</a></small></p>
    </div><!-- e:content -->
</footer><!-- b:app-footer -->
