<div block="table-data">
    <div elem="section" class="site-width">
        <h4 elem="title">
            Табличные данные (h4)
        </h4><!-- e:title -->
        <div elem="items" class="site-table">
            <table>
                <tr>
                    <th>ТОВАР</th>
                    <th>АРТИКУЛ</th>
                    <th>СРОК ГОДНОСТИ</th>
                    <th>ВЕС</th>
                    <th>СТРАНА</th>
                </tr>
                <tr>
                    <td>Суп гороховый с копчёностями DeliLabs</td>
                    <td>0980978</td>
                    <td>18 мес.</td>
                    <td>300 г.</td>
                    <td>Россия</td>
                </tr>
                <tr>
                    <td>Каша овсяная плющеная</td>
                    <td>4565663</td>
                    <td>3 мес.</td>
                    <td>500 г.</td>
                    <td>Казахстан</td>
                </tr>
                <tr>
                    <td>Набор специй для первых блюд</td>
                    <td>77881212</td>
                    <td>24 мес.</td>
                    <td>150 г.</td>
                    <td>Россия</td>
                </tr>
            </table>
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:table-data -->