.table-data
    margin-bottom 59px
    
    &__title
        font-size 18px
        font-family : $fonts.other
        font-weight 700
        color #1d2e22

    &__items
        display: block

.site-table
    overflow-x auto
    box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
        
table
    width 1200px
    background-color #ffffff
    
    tr
        border-bottom 1px solid #ededed
        
    tr:last-child
        border-bottom none
    
    th
        padding 25px 30px
        font-size 14px
        font-family : $fonts.other
        font-weight 700
        color #353535
    
    td
        padding 25px 30px
        font-size 14px
        font-family : $fonts.other
        font-weight 400
        color #353535