<div block="sorting-panel">
    <div elem="section" class="site-width">

        {% include 'sorting.html' %}

        {% include 'pagination.html' %}

    </div><!-- b:section -->
</div><!-- b:sorting-panel -->