.sorting

    &__items
        display flex
        flex-wrap wrap
        width 740px
        max-width 100%

        @media screen and (max-width 1040px)
            width 440px

    &__item
        display flex
        align-items center
        margin-right 20px
        margin-bottom 10px

        @media screen and (max-width 447px)
            flex-wrap wrap

    &__title
        font-size 12px
        font-family : $fonts.other
        color #353535
        font-weight 400
        line-height 1.7
        margin-right 10px
        margin-bottom 5px

    &__link
        font-size 12px
        font-family : $fonts.other
        color #353535
        font-weight 400
        line-height 1.7
        text-decoration none
        margin-right 5px
        margin-bottom 5px
        display inline-block
        vertical-align top
        padding 4px 15px
        border 1px solid transparent
        border-radius 15px
        transition color, border .3s
        &.active-sort
            border 1px solid #ededed
            background-color #ededed
            &:hover
                color #353535
                border 1px solid #ededed
                background-color #ededed
                cursor default 

        &:hover
            color #87ac6f
            border 1px solid #87ac6f
