<div block="sorting">
    <div elem="section">
        <div elem="items">
            <div elem="item" mods="sort">
                <div elem="title">Сортировать:</div>
                <div elem="list">
                    <a elem="link" class="active-sort" href="#">Сначала дешевле</a>
                    <a elem="link" href="#">Сначала дороже</a>
                </div><!-- b:list -->
            </div><!-- b:item -->

            <div elem="item" mods="products-page">
                <div elem="title">Товаров на странице:</div>
                <div elem="list">
                    <a elem="link" class="active-sort" href="#">12</a>
                    <a elem="link" href="#">24</a>
                    <a elem="link" href="#">36</a>
                </div><!-- b:list -->
            </div><!-- b:item -->
        </div><!-- b:items -->
    </div><!-- b:section -->
</div><!-- b:sorting -->