= yaml =
pageTitle: Documentation
bodyMods: docs
bodyClasses: docs
scrollFixClasses: null
contentClasses: 'container'
layout: !!map
    header : true
    footer : true
    left : false
    right : false

themeColors:
- theme
- primary
- secondary
- success
- info
- warning
- danger
- light
- dark

= yaml =

{% extends '_layout.html' %}

{% block main %}

<dl>
    <dt><a href="https://ru.bem.info/methodology/" target="_blank" rel="noopener">БЭМ методология</a></dt>
    <dd>Методология БЭМ создана в Яндексе для разработки сайтов, которые надо делать быстро, а поддерживать долгие годы. Она позволяет создавать расширяемые и повторно используемые компоненты интерфейса.</dd>
</dl>

<dl>
    <dt><a href="http://nicothin.github.io/idiomatic-pre-CSS/" target="_blank" rel="noopener">Как работать с CSS-препроцессорами и БЭМ</a></dt>
    <dd>Список рекомендаций по неусложнению жизни себе и другим участникам проекта по вёрстке.</dd>
</dl>

<dl>
    <dt><a href="https://github.com/yoksel/common-words" target="_blank" rel="noopener">Слова, часто используемые в CSS-классах</a></dt>
    <dd>Подборка часто используемых названий CSS-классов с примерами</dd>
</dl>

<hr>

<h2>Кнопки</h2>

<p>{% for btn in themeColors -%}
    <button type="button" class="btn btn-{{ btn }}">{{ btn | capitalize }}</button>
{%- endfor %}</p>

<hr>

<h2>SVG-иконки</h2>
<p>
{% for icon in app.icons -%}
<icon name="{{ icon }}">
{%- endfor %}
<icon name="close" class="_spinner">
<icon name="more_vert" class="_spinner">
</p>

<hr>

<h2>WordPress галерея</h2>
<div class="gallery gallery-columns-5">
    {% for index in range(0, 10) -%}
    <figure class="gallery-item">
        <div class="gallery-icon landscape">
            <a href="{{ app.storage }}/img/thumb-demo-{{ index }}.jpg" target="_blank" rel="noopener"><img width="150" height="150" src="{{ app.storage }}/img/thumb-demo-{{ index }}.jpg" class="attachment-thumbnail" alt="alt text"></a>
        </div>
        <figcaption class="wp-caption-text gallery-caption" data-forcefeed="words|3|5">Подпись картинки</figcaption>
    </figure>
    {%- endfor %}
</div>

<hr>
<h2>Картинки</h2>
<h3><code>img</code> внутри <code>p</code> с классом <code>alignleft</code></h3>
<p><img class="alignleft" width="160" height="160" src="{{app.storage}}/img/thumb-demo-0.jpg"> Экспертиза выполненного проекта индуцирует product placement. Создание приверженного покупателя транслирует конструктивный CTR, используя опыт предыдущих кампаний. Партисипативное планирование порождает конструктивный жизненный цикл продукции.</p>
<div class="clearfix"></div>
<h3><code>img</code> внутри <code>p</code> с классом <code>alignright</code></h3>
<p><img class="alignright" width="160" height="160" src="{{app.storage}}/img/thumb-demo-1.jpg"> Управление брендом поразительно. Примерная структура маркетингового исследования реально обуславливает стратегический рыночный план, отвоевывая рыночный сегмент. Медийная реклама, не меняя концепции, изложенной выше, существенно стабилизирует побочный PR-эффект.</p>
<div class="clearfix"></div>
<h3><code>figure</code> с классом <code>alignleft</code></h3>
<figure style="width: 200px" class="wp-caption alignleft"><a href="#"><img class="size-medium wp-image-239" src="{{app.storage}}/img/thumb-demo-2.jpg" alt="Атрибут alt" width="160" height="160"></a><figcaption class="wp-caption-text" data-forcefeed="words|3|5">Подпись к картинке</figcaption></figure>
<p>Стиль менеджмента непосредственно индуцирует конструктивный клиентский спрос. Объемная скидка, следовательно, последовательно консолидирует принцип восприятия. Ретроконверсия национального наследия усиливает социометрический стратегический маркетинг.</p>
<div class="clearfix"></div>
<h3><code>figure</code> с классом <code>alignright</code></h3>
<figure style="width: 200px" class="wp-caption alignright"><a href="#"><img class="size-medium wp-image-239" src="{{app.storage}}/img/thumb-demo-3.jpg" alt="Атрибут alt" width="160" height="160"></a><figcaption class="wp-caption-text" data-forcefeed="words|3|5">Подпись к картинке</figcaption></figure>
<p>Рекламная заставка изоморфна времени. Надо сказать, что анализ рыночных цен стремительно развивает стратегический рыночный план. Стратегический маркетинг экономит эмпирический имидж. Креативная концепция консолидирует поведенческий таргетинг.</p>
<div class="clearfix"></div>
<h3 style="text-align:center"><code>figure</code> с классом <code>aligncenter</code></h3>
<figure style="width: 320px" class="wp-caption aligncenter"><a href="#"><img class="size-medium wp-image-239" src="{{app.storage}}/img/thumb-demo-3.jpg" alt="Атрибут alt" width="320" height="320"></a><figcaption class="wp-caption-text" data-forcefeed="words|3|5">Подпись к картинке</figcaption></figure>

{% endblock %}