= yaml =
pageTitle: Main Page
bodyMods: demo
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : false
    footer : false
    left : false
    right : false
= yaml =

{% extends '_layout.html' %}

{% block main %}

<style type="text/css">
    .posthtml-postcss {
        display: flex;
        transform: translate3d(0, 0, 0);
    }
</style>

<div class="align-items-center justify-content-center h-100" style="display:flex;">
    <div block="demo-intro">
        <h1 class="display-4">{{ app.package.name | capitalize}} v{{ app.package.version }}</h1>
        <p class="lead">Bootstrap {{ app.settings.app.bts[app.settings.app.bts.use].code }}</p>
        <blockquote class="blockquote">
            Все эти инновации, о которых сейчас трубят на каждом углу — чушь собачья. Кто угодно может заниматься инновациями. <span class="m-link">«Думать иначе»</span> и всё такое… к чёрту. Это бессмысленно. 99 процентов успеха — это проделанная работа.
            <footer class="blockquote-footer">
                Конференция <a rel="noreferrer, nofollow" target="_blank" href="https://www.theregister.co.uk/2017/02/14/the_government_is_coming_for_your_code/">Open Source Leadership Summit</a> <cite title="Линус Торвальдс">Линус Торвальдс</cite>
            </footer>
        </blockquote>
    </div>
</div><!-- b:demo-intro -->

{% endblock %}
