<div block="history-order">
    <div elem="section" class="site-width">
        <h2 elem="title">История заказов</h2>
        <div elem="items">
            <div elem="item">
                <div elem="short-info">
                    <div elem="number">2366255</div>
                    <div elem="date">15.07.2018</div>
                    <div elem="status" mods="completed">ЗАВЕРШЕН</div>
                    <div elem="all-total-sum">2 350 Р.</div>
                </div><!-- e:short-info -->
                <div elem="container">
                    <div elem="body">
                        <div elem="head">
                            <div elem="define-title">ТОВАР</div>
                            <div elem="define-title" mods="price-text">ЦЕНА</div>
                            <div elem="define-title" mods="count-text">КОЛ-ВО, ШТ.</div>
                            <div elem="define-title" mods="sum-text">СУММА</div>
                        </div><!-- e:head -->
                        <div elem="product">
                            <div elem="define-info">
                                <div elem="info-product">
                                    <div elem="img">
                                        <img src="img/product-img5.jpg" alt="">
                                    </div>
                                    <div elem="info">
                                        <div elem="name">
                                            <a href="#">Суп гороховый с копчёностями DeliLabs</a>
                                        </div>
                                        <div elem="parameters">
                                            <div elem="params">
                                                Артикул: 0980978
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">ЦЕНА, РУБ.</div>
                                <div elem="price">490 р.</div>
                                <div elem="old-price">560 р.</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">КОЛ-ВО, ШТ.</div>
                                <div elem="total-amount">1</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">СТОИМОСТЬ, РУБ.</div>
                                <div elem="total-sum">490 р.</div>
                            </div>
                        </div><!-- e:product -->
                        <div elem="product">
                            <div elem="define-info">
                                <div elem="info-product">
                                    <div elem="img">
                                        <img src="img/product-img3.jpg" alt="">
                                    </div>
                                    <div elem="info">
                                        <div elem="name">
                                            <a href="#">Leg Vitalizer 20 den Damen Kniestrümpfe</a>
                                        </div>
                                        <div elem="parameters">
                                            <div elem="params">
                                                Артикул: 0980978
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">ЦЕНА, РУБ.</div>
                                <div elem="price">890</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">КОЛ-ВО, ШТ.</div>
                                <div elem="total-amount">1</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">СТОИМОСТЬ, РУБ.</div>
                                <div elem="total-sum">890</div>
                            </div>
                        </div><!-- e:product -->
                    </div><!-- e:body -->
                    <div elem="total-sum-all">
                        <div elem="title-total">Итого:</div>
                        <div elem="all-sum">1 050 р.</div>
                    </div>
                </div><!-- e:container -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="short-info">
                    <div elem="number">3674599</div>
                    <div elem="date">30.08.2018</div>
                    <div elem="status" mods="waiting">В обработке</div>
                    <div elem="all-total-sum">1 050 Р.</div>
                </div><!-- e:short-info -->
                <div elem="container">
                    <div elem="body">
                        <div elem="head">
                            <div elem="define-title">ТОВАР</div>
                            <div elem="define-title">ЦЕНА, РУБ.</div>
                            <div elem="define-title">КОЛ-ВО, ШТ.</div>
                            <div elem="define-title">СТОИМОСТЬ, РУБ.</div>
                        </div><!-- e:head -->
                        <div elem="product">
                            <div elem="define-info">
                                <div elem="info-product">
                                    <div elem="img">
                                        <img src="img/product-img5.jpg" alt="">
                                    </div>
                                    <div elem="info">
                                        <div elem="name">
                                            <a href="#">Суп гороховый с копчёностями DeliLabs</a>
                                        </div>
                                        <div elem="parameters">
                                            <div elem="params">
                                                Артикул: 0980978
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">ЦЕНА, РУБ.</div>
                                <div elem="price">1 560</div>
                                <div elem="old-price">1 560</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">КОЛ-ВО, ШТ.</div>
                                <div elem="total-amount">1</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">СТОИМОСТЬ, РУБ.</div>
                                <div elem="total-sum">1 560</div>
                            </div>
                        </div><!-- e:product -->
                    </div><!-- e:body -->
                </div><!-- e:container -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="short-info">
                    <div elem="number">2366255</div>
                    <div elem="date">15.07.2018</div>
                    <div elem="status" mods="completed">ЗАВЕРШЕН</div>
                    <div elem="all-total-sum">4 200 Р.</div>
                </div><!-- e:short-info -->
                <div elem="container">
                    <div elem="body">
                        <div elem="head">
                            <div elem="define-title">ТОВАР</div>
                            <div elem="define-title">ЦЕНА, РУБ.</div>
                            <div elem="define-title">КОЛ-ВО, ШТ.</div>
                            <div elem="define-title">СТОИМОСТЬ, РУБ.</div>
                        </div><!-- e:head -->
                        <div elem="product">
                            <div elem="define-info">
                                <div elem="info-product">
                                    <div elem="img">
                                        <img src="img/product-img3.jpg" alt="">
                                    </div>
                                    <div elem="info">
                                        <div elem="name">
                                            <a href="#">Leg Vitalizer 20 den Damen Kniestrümpfe</a>
                                        </div>
                                        <div elem="parameters">
                                            <div elem="params">
                                                Артикул: 0980978
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">ЦЕНА, РУБ.</div>
                                <div elem="price">890</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">КОЛ-ВО, ШТ.</div>
                                <div elem="total-amount">1</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">СТОИМОСТЬ, РУБ.</div>
                                <div elem="total-sum">890</div>
                            </div>
                        </div><!-- e:product -->
                    </div><!-- e:body -->
                </div><!-- e:container -->
            </div><!-- e:item -->
            <div elem="item">
                <div elem="short-info">
                    <div elem="number">9098031</div>
                    <div elem="date">03.05.2018</div>
                    <div elem="status" mods="cancelled">ОТМЕНЕН</div>
                    <div elem="all-total-sum">890 Р.</div>
                </div><!-- e:short-info -->
                <div elem="container">
                    <div elem="body">
                        <div elem="head">
                            <div elem="define-title">ТОВАР</div>
                            <div elem="define-title">ЦЕНА, РУБ.</div>
                            <div elem="define-title">КОЛ-ВО, ШТ.</div>
                            <div elem="define-title">СТОИМОСТЬ, РУБ.</div>
                        </div><!-- e:head -->
                        <div elem="product">
                            <div elem="define-info">
                                <div elem="info-product">
                                    <div elem="img">
                                        <img src="img/product-img5.jpg" alt="">
                                    </div>
                                    <div elem="info">
                                        <div elem="name">
                                            <a href="#">Суп гороховый с копчёностями DeliLabs</a>
                                        </div>
                                        <div elem="parameters">
                                            <div elem="params">
                                                Артикул: 0980978
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">ЦЕНА, РУБ.</div>
                                <div elem="price">1 560</div>
                                <div elem="old-price">1 560</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">КОЛ-ВО, ШТ.</div>
                                <div elem="total-amount">1</div>
                            </div>
                            <div elem="define-info">
                                <div elem="define-title" mods="mobile-767">СТОИМОСТЬ, РУБ.</div>
                                <div elem="total-sum">1 560</div>
                            </div>
                        </div><!-- e:product -->
                    </div><!-- e:body -->
                </div><!-- e:container -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:history-order -->