.history-order
    margin-bottom 150px

    &__title
        font-size 30px
        font-family : $fonts.other
        color #1d2e22
        font-weight 700
        margin-bottom 40px
    
    &__item
        margin-bottom 20px
        transition box-shadow .3s
        border 2px solid #ededed
        transition border .3s
        background-color #fff
        &--active
            border 2px solid #d5ae45

            & ^[0]
                &__all-total-sum
                    display none
    
    &__short-info
        font-size 16px
        font-family : $fonts.base
        color #353535
        text-transform uppercase
        font-weight 100
        display flex
        flex-wrap wrap
        border-bottom 1px solid transparent
        padding 14px 30px
        position relative
        cursor pointer
        transition border .3s

        &:after
            content ''
            position absolute
            top 21px
            right 21px
            width 15px
            height 9px
            background: url('../img/select-arrow.png') 0 0 no-repeat;
            transition transform .3s
            
            @media screen and (max-width 479px)
                top 50%
                margin-top -5px

        &--active
            border-bottom 1px solid #e7e7e7

            &:after
                transform rotate(180deg)
        
        @media screen and (max-width 479px)
            flex-direction column  
        
    &__number
        font-weight 400
        margin-right 40px
        
        @media screen and (max-width 530px)
            margin-right 20px
    
    &__date
        font-weight 400
        margin-right 30px
        min-width 70px
        max-width 100px
        
        @media screen and (max-width 530px)
            margin-right 20px
    
    &__status
        font-weight 700
        &--completed
            color #88ac6f    
        &--waiting
           color #d5ae45
        &--cancelled
            color #e85252
    
    &__all-total-sum
        font-weight 700
        margin-left auto
        margin-right 65px
        
        @media screen and (max-width 530px)
            margin-right 10px
        
        @media screen and (max-width 479px)
            margin-left 0

    &__container
        display none
        background-color #fff

    &__body
        display table
        width 100%
    
    &__head,
    &__product
        display table-row
    
    &__product    
        @media screen and (max-width 767px)
            display block
            border-top 5px solid #e7e7e7
            &:nth-child(2)
                border none    
        
    &__define-title,  
    &__define-info
        display table-cell
        vertical-align middle
        
    &__define-title
        @media screen and (max-width 767px)
            display none
            
    &__define-info    
        @media screen and (max-width 767px)
            display flex
            justify-content space-between
        
    &__define-title
        font-size 14px
        font-family : $fonts.other
        color #353535
        font-weight 700
        text-transform uppercase
        padding 20px 30px
        border-bottom 1px solid #ededed

        &--price-text
            @media screen and (min-width 1023px)
                width 11%

        &--count-text
            @media screen and (min-width 1023px)
                width 15%

        &--sum-text
            @media screen and (min-width 1023px)
                width 14% 
        
        &--mobile-767
            display none
            
            @media screen and (max-width 767px)
                display block
                border none
                padding 0
       
    &__define-info
        border-bottom 1px solid #e7e7e7
        padding 16px 29px
        
    &__info-product
        display flex
        align-items center
        
        @media screen and (max-width 374px)
            flex-direction column
        
    &__img
        margin-right 20px
        width 70px
        img
            max-width 100%

        @media screen and (max-width 374px)
            flex none
        
    &__name
        margin-bottom 5px
        font-weight 500
        a
            font-size 14px
            font-family : $fonts.other
            color #2c92c8
            font-weight 500
            text-decoration none
            &:hover
                text-decoration underline
                
    &__params
        font-size 12px
        font-family : $fonts.other
        color #353535
        font-weight 400
        img
            margin-right 9px
        span
            color #000
            
            
    &__price,
    &__total-amount,
    &__total-sum
        font-size 20px
        font-family : $fonts.base
        color #353535
        font-weight 700

        @media screen and (max-width 767px)
            line-height 1

    &__old-price
        font-size 16px
        font-family : $fonts.base
        color #717171
        font-weight 900
        text-decoration line-through    
    
    &__total-amount
        margin-left 45px

    &__total-sum-all
        font-family : $fonts.base
        font-weight 900
        color #1d2e22
        padding 10px 20px
        background-color #fff
        display flex
        justify-content flex-end
        align-items baseline
        box-shadow inset 0px 2px 5px 0px #c0d3a6

    &__title-total
        font-size 18px
        margin-right 30px

    &__all-sum
        margin-right 55px
        font-size 25px

        @media screen and (max-width 767px)
            margin-right 0