<div block="b-products" class="site-width">
	<div elem="item">
		<div elem="item-slider">
			<div elem="wrap-slider">
				<div>
					<a href="img/product-slider-img1.png" data-lightbox="image-1"><img src="img/product-slider-img1.png" alt=""></a>
				</div>
				<div>
					<a href="img/product-slider-img1.png" data-lightbox="image-1"><img src="img/product-slider-img1.png" alt=""></a>
				</div>
				<div>
					<a href="img/product-slider-img1.png" data-lightbox="image-1"><img src="img/product-slider-img1.png" alt=""></a>
				</div>
				<div>
					<a href="img/product-slider-img1.png" data-lightbox="image-1"><img src="img/product-slider-img1.png" alt=""></a>
				</div>
				<div>
					<a href="img/product-slider-img1.png" data-lightbox="image-1"><img src="img/product-slider-img1.png" alt=""></a>
				</div>
			</div>
		</div>
		<div elem="item-detail">
			<p>Артикул: <b>3310002</b></p>
			<p>Вес: <b>300 г</b></p>
			<p>Готовый к употреблению гороховый в реторт-пакете, порция.</p>
			<div elem="put-in-back">
				<div elem="item-price">
					<div elem="item-price-new">490 р.</div>
					<div elem="item-price-old">560 р.</div>
				</div>
				<button type="button" elem="button" class="site-btn">ПОЛОЖИТЬ В РЮКЗАК</button>
			</div>
			<p>
				<b>Производитель:</b> ООО «Фабрика здоровой еды», г. Иркутск по заказу 
				ООО «Группа», г. Новосибирск.
			</p>
			<p>
				<b>Срок годности:</b> 12 мес. Вскрытую упаковку хранить не более суток 
				при температуре от +2°С до +6°C.
			</p>
		</div>
	</div>	
	<div elem="tabs">
		<div elem="tab-title"> 
			<div elem="description-title">
				ОПИСАНИЕ
			</div>
			<div elem="comments-title">
				ОТЗЫВЫ
			</div>
		</div>
		<div elem="description">
			<b>Состав</b> <br>
			<p>
				Сублимационной сушки: бульон говяжий, говядина варёная, свёкла, капуста, масло, 
				сметана, лук репчатый, томаты, морковь, яблоко, зелень; хлопья картофельные, сахар, 
				соль, специи, аскорбиновая кислота.
			</p>
			<b>Пищевая ценность в 100 г</b><br>
			<p>
				Белки - 12,2 г, жиры - 10,0 г, углеводы - 52,0 г.
			</p>
			<b>Энергетическая ценность</b><br>
			<p>		
				360 ккал.
			</p>
			<b>Способ приготовления</b><br>
			<p>
				Содержимое пакета залить 200 г кипятка, перемешать, накрыть. Через 3-5 минут 
				продукт готов к употреблению.
			</p>
			<b>Масса нетто</b><br>
			<p>	
				20 г (1 порция)
			</p>
			<b>Срок годности</b><br>
			<p>
				12 мес. Вскрытую упаковку хранить не более суток при 
				температуре от +2°С до +6°C.
			</p>
			<b>Производитель</b><br>
			<p>
				ООО «Фабрика здоровой еды», г. Иркутск по заказу ООО «Группа», 
				г. Новосибирск.
			</p>
			<b>Дата производства</b><br>
			<p>
				22.02.2018
			</p>
		</div>
		<div elem="comments">
			<p><b>ОТЗЫВЫ</b></p>
		</div>

	</div>
</div>
















