.app--products
    .b-products 
        .owl-carousel 
            .owl-item 
                display flex 
                align-items center 
                justify-content center
                width 670px 
                height 570px
                img
                    width auto
                    height auto 
                    margin-left 70px
                    @media all and (max-width 640px)
                        margin-left 100px
                        width 70%
                    @media all and (max-width 540px)
                        margin-left 140px
                        width 50%
                    @media all and (max-width 400px)
                        margin-left 120px
                    @media all and (max-width 320px)
                        margin-left 110px
            .owl-dots 
                position absolute 
                top 50%
                transform translateY(-50%) 
                left 35px 
                height 380px 
                width 60px 
                margin-top -20px
                display flex 
                flex-direction column
                @media all and (max-width 400px)
                    left 20px
            .owl-dot 
                width 60px
                height 60px
                margin-top 20px
                border 1px solid #e9e9e9    
                &:hover,
                &.active 
                    border 1px solid #000
                &:nth-child(1)
                    background url(../img/products-slider-dot-img1.png) center center no-repeat
                &:nth-child(2)
                    background url(../img/products-slider-dot-img2.png) center center no-repeat
                &:nth-child(3)
                    background url(../img/products-slider-dot-img3.png) center center no-repeat
                &:nth-child(4)
                    background url(../img/products-slider-dot-img4.png) center center no-repeat
                &:nth-child(5)
                    background url(../img/products-slider-dot-img5.png) center center no-repeat
                @media all and (max-width 400px)
                    width 45px 
                    height 45px
                    padding 10px
            .owl-nav 
                position absolute 
                top 48px 
                left 53px 
                bottom 48px 
                display flex 
                flex-direction column 
                @media all and (max-width 400px)
                    left 30px
            .owl-prev 
                position absolute 
                top 0
                width 27px 
                height 27px 
                transform rotate(-90deg)
                background url(../img/arrow.png) center center no-repeat
                transition background 0.3s ease
                &:hover 
                    transform rotate(-90deg)
                    background url(../img/arrow-hover.png) center center no-repeat
            .owl-next 
                position absolute 
                bottom 0
                width 27px 
                height 27px 
                transform rotate(90deg)
                transition background 0.3s ease 
                background url(../img/arrow.png) center center no-repeat
                &:hover 
                    transform rotate(90deg)
                    background url(../img/arrow-hover.png) center center no-repeat
    h1 
        margin-bottom 30px
    p 
        margin-bottom 6px
    .slider-products
        padding-top 65px
        padding-bottom 0
        margin-bottom 0
        &:after 
            background none
        &:last-child 
            padding-bottom 160px
            padding-top 22px
    .slider-products__head
        text-align left
.tabs-title-active
    color #d5ae45 !important
    font-size 20px
    font-weight 900
    line-height 19px
    position relative 
    padding 24px 0
    margin-left 50px
    &:before
        content ""
        position absolute
        z-index -1
        left 0
        right 0
        bottom 0
        background #d5ae45
        height 3px
        -webkit-transition-property left, right
        transition-property left, right
        -webkit-transition-duration 0.3s
        transition-duration 0.3s
        -webkit-transition-timing-function ease-out
        transition-timing-function ease-out
.b-products 
    &__item 
        display flex 
        flex-wrap wrap
        @media all and (max-width 1023px)
            flex-direction column
            align-items center
    &__item-slider
        flex 0 0 670px
        max-width 670px
        width 670px 
        height 570px
        box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
        background-color #ffffff
        margin-right 50px 
        margin-top 3px
        position relative 
        @media all and (max-width 1140px)
            flex 0 0 570px
            max-width 570px
            width 570px   
        @media all and (max-width 1023px)
            flex 0 0 670px
            max-width 670px
            width 670px  
            margin-right 0  
        @media all and (max-width 700px)
            flex auto
            max-width 100%
            width auto

        &:before 
            content "%"
            color #ffffff
            font-family : $fonts.other 
            font-size 16px
            padding-top 9px
            padding-left 10px
            z-index 5
            font-weight 400
            line-height 20px
            position absolute 
            top 0 
            left 0  
            width 34px
            height 30px
            border-radius 0 0 5px
            background-color #e85252
        &:after 
            content "" 
            position absolute 
            top 0
            left 0
            z-index 3
            width 34px
            height 36px 
            background url(../img/back-slider-product-per.png) 0 0 no-repeat
            
    &__item-detail 
        flex 1 1 
        p    
            color #353535
            font-family : $fonts.other 
            font-size 14px
            font-weight 400
            line-height 22px
            b 
                font-weight 600
        @media all and (max-width 1023px)
            width 100%
            margin-top 30px
            flex auto
    &__put-in-back
        display flex 
        color #1d2e22
        font-size 30px
        font-weight 900
        line-height 19px
        margin 35px 0 35px -51px
        padding 40px 0 20px 16px
        max-width 531px
        border 1px solid #ededed
        @media all and (max-width 1023px)
            border none
            margin 20px 0 20px -35px
            padding 0
        @media all and (max-width 400px)
            flex-direction column
            align-items center
    &__item-price 
        margin-left 35px
        margin-bottom 20px
        margin 6px 0 20px 35px
    &__item-price-old 
        color #717171
        font-size 18px
        padding-top 14px
        font-weight 900
        line-height 19px
        text-decoration line-through
    &__button 
        margin-left 35px
        position relative 
        height 59px
        &:before 
            content "" 
            position absolute 
            top 50%
            transform translateY(-50%)
            right -52px
            width 20px
            height 30px
            background url(../img/choose-icon-red.png) center center no-repeat 
    &__wrap-slider 
        display flex 
        align-items center 
        justify-content center
        // products-slider-dot-img1
    &__tab-title 
        display flex 
        margin-top 26px
        margin-left -50px
        @media all and (max-width 640px)
            margin-top 0
    &__description-title 
        color #2c92c8
        font-size 20px
        font-weight 900
        line-height 19px
        position relative 
        padding 24px 0
        margin-left 50px
        cursor pointer
  
    &__comments-title 
        color #2c92c8
        font-size 20px
        font-weight 900
        line-height 19px
        position relative 
        padding 24px 0
        margin-left 50px
        cursor pointer

    &__description 
        columns 2
        color #353535
        font-family : $fonts.other
        font-size 14px
        font-weight 400
        line-height 22px
        font-weight 500
        padding 39px 0
        border-top 1px solid #ededed
        border-bottom 1px solid #ededed
        @media all and (max-width 640px)
            columns 1
    &__comments 
        display none
        columns 2
        color #353535
        font-family : $fonts.other
        font-size 14px
        font-weight 400
        line-height 22px
        font-weight 500
        padding 39px 0
        border-top 1px solid #ededed
        border-bottom 1px solid #ededed

        