@require 'components/_variables';
@require 'components/_functions';
@require 'components/content';
@require 'components/iconizer';
@require 'components/font-face';

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade
    margin : $appGutter 0
    background : #ccc
    color : #000
    padding : $appGutter 0

.demo-box
    background-color : #009688
    color #fff
    text-align : center
    padding : $appGutter

.theme-color
    color : $colors.primary

.theme-bgc
    background-color : $colors.primary
    // color который норм смотрится на фоне основного цвета

@require '../_blocks/**/*.styl';
