.app-header
    background url(../img/header-back.png) 0 0 no-repeat
    flex none
    @media all and (max-width 1024px)
        margin-top 50px
        background none
    @media all and (max-width 1024px)
        backgro none903036298
    &__wrap 
        position relative
        z-index 10
    &__top
        display flex
        justify-content space-between
        padding-top 25px
        @media all and (max-width 1024px)
            justify-content center
    &__middle
        display flex 
        flex-direction column
        flex 1 1
        padding 0 32px 0 83px
        @media all and (max-width 1024px)
            display none
    &__middle-top
        display flex 
        justify-content space-between
        margin-bottom 25px 
    &__phone-order
        display flex 
        margin-left -19px
        @media all and (max-width 1024px)
            display none
    &__phone 
        margin-left 19px
        display flex 
        align-items center  
        img 
            margin-right 11px
        a 
            color #1d2e22
            font-family : $fonts.other
            font-size 14px
            font-weight 500
            text-decoration none
            &:hover  
                text-decoration underline
    &__order 
        display flex 
        align-items center
        margin-left 19px
        a 
            color #2c92c8
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover  
                text-decoration underline
    &__cab-magaz
        display flex 
        margin-left -29px
        @media all and (max-width 1024px)
            display none
    &__magazin
        display flex 
        align-items center
        margin-left 29px
        img 
            flex 0 0 15px
            max-width 15px 
            width 15px
            margin-right 11px
        a 
            color #2c92c8
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover  
                text-decoration underline
                // text-decoration-color #cae4f1
    &__cabinet 
        display flex 
        align-items center
        margin-left 29px
        @media all and (max-width 1024px)
            margin-left 26px
            margin-top 10px 
        img 
            flex 0 0 22px
            max-width 22px 
            width 22px
            margin-right 11px
        a 
            color #2c92c8
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover  
                text-decoration underline
                // text-decoration-color #cae4f1
    &__app-logo
        flex 0 0 113px
        max-width 113px
        width 113px
        padding-top 13px
    &__choose-card
        display flex
        align-items flex-end
        padding-bottom 21px
        flex 0 0 165px
        max-width 165px
        width 165px
        @media all and (max-width 1024px)
            display none
    &__choose
        position relative
        padding-left 3px
        &:before
            content "5"
            position absolute
            top -5px
            right -16px
            min-width 22px
            padding 0 5px
            color #1d2e22
            font-size 12px
            font-weight 900
            line-height 19px
            text-align center
            height 20px
            border-radius 5px
            z-index 4
            background-color #ffbf14
        &:after 
            content ""
            position absolute 
            top 0 
            left 0
            width 27px 
            height 30px
            z-index 3 
            opacity 0
            background url(../img/choose-icon-hover.png) 0 0 no-repeat 
            transition all 0.3s ease
        &:hover 
            &:after
                opacity 1
    &__card 
        position relative
        margin-left 51px
        &:before
            content "3"
            position absolute
            top -5px
            right -16px
            min-width 22px
            padding 0 5px
            color #1d2e22
            font-size 12px
            font-weight 900
            line-height 19px
            text-align center
            height 20px
            border-radius 5px
            background-color #ffbf14
            z-index 4
        &:after 
            content ""
            position absolute 
            top 0 
            left 0
            width 27px 
            height 30px
            z-index 3 
            opacity 0
            background url(../img/app-logo-hover.png) 0 0 no-repeat 
            transition all 0.3s ease
        span 
            content ""
            position absolute
            bottom -5px
            right -61px
            width 50px
            letter-spacing 0.4px
            font-family : $fonts.base
            height 20px
            border-radius 5px
            color #1d2e22
            font-size 14px
            font-weight 900
            line-height 19px
        &:hover 
            &:after
                opacity 1
    &__search
        position relative
        input 
            width 100%    
            height 57px
            padding 23px 20px 20px 72px
            color #828282
            font-family : $fonts.other
            font-size 15px
            font-weight 400
            line-height 19px
            border none
            box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
            border-radius 5px
            background-color #ffffff
        button 
            position absolute
            cursor pointer
            left 17px
            top 50%
            transform translateY(-50%)
            width 24px
            height 24px
            background-color none
            border none 
            background url(../img/search-icon.png) 0 0 no-repeat
            &:before
                content ""
                position absolute
                top -10px
                right -17px
                width 2px
                height 41px
                background-color #d8d8d8
        &--mobile
            @media all and (max-width 1024px)
                display none
    &__menu
        padding-top 26px
        ul 
            display flex 
            justify-content space-between
            list-style-type none
            padding 0
            margin 0
            li 
                a 
                    display inline-block
                    color #1d2e22
                    color #1d2e22
                    font-family : $fonts.base
                    font-size 18px
                    font-weight 900
                    padding-bottom 10px
                    line-height 19px
                    text-decoration none
                    position relative 
                    &:before
                        content ""
                        position absolute
                        z-index -1
                        left 51%
                        right 51%
                        bottom 0
                        background #d5ae45
                        height 3px
                        -webkit-transition-property left, right
                        transition-property left, right
                        -webkit-transition-duration 0.3s
                        transition-duration 0.3s
                        -webkit-transition-timing-function ease-out
                        transition-timing-function ease-out
                    &:hover 
                        color #d5ae45
                        text-decoration none
                        &:before 
                            left 0
                            right 0
                            z-index 2
        @media all and (max-width 1024px)
            display none                        