<header block="app-header" >
    <div elem="wrap" class="site-width">    
        <div elem="top">
            <a href="#" elem="app-logo"><img src="img/app-logo.png"></a>
            <div elem="middle">
                <div elem="middle-top">
                    <div elem="phone-order">
                        <div elem="phone"><img src="img/phone-icon.png"><a href="tel:78495464551">+7 849 546-45-51</a></div>
                        <div elem="order"><a href="#" data-remodal-target="modal">Заказать звонок</a></div>
                    </div>
                    <div elem="cab-magaz">
                        <div elem="magazin"><img src="img/location-icon.png"><a href="#">Магазины</a></div>
                        <div elem="cabinet"><img src="img/cabinet-icon.png"><a href="#">Мой кабинет</a></div>
                    </div>
                </div>
                <form elem="search" mods="mobile">
                    <button type="submit"></button>
                    <input type="search" placeholder="Что будем искать?" name="search">
                </form>
            </div>
            <div elem="choose-card">
                <a href="#" elem="choose">
                    {% if mainPage %}
                        <img src="img/choose-icon-white.png">
                    {% else %}
                        <img src="img/choose-icon-black.png">
                    {% endif %}
                </a>
                <a href="#" elem="card">
                    {% if mainPage %}
                        <img src="img/card-icon-white.png">
                    {% else %}
                        <img src="img/card-icon-black.png">
                    {% endif %}
                    <span>2500 p</span></a>
            </div>
        </div>
        <nav elem="menu">
            <ul>
                <li><a href="#">ПЕРВЫЕ БЛЮДА</a></li>
                <li><a href="#">ВТОРЫЕ БЛЮДА</a></li>
                <li><a href="#">ДЕСЕРТЫ</a></li>
                <li><a href="#">СУШЕНЫЕ ОВОЩИ</a></li>
                <li><a href="#">ТУШЕНКА</a></li>
                <li><a href="#">НАПИТКИ</a></li>
                <li><a href="#">СПЕЦПРЕДЛОЖЕНИЯ</a></li>
            </ul>
        </nav>
    </div>
</header><!-- b:app-header -->
