<div block="advantages">
    <div elem="section" class="site-width">
        <div elem="items">
            
            {% for item in advantages %}
            
            <div elem="item">
                <div elem="icon"><img src="img/{{item.icon}}" alt=""></div>
                <div elem="info">
                    <div elem="title">{{item.title}}</div>
                    <div elem="desc">{{item.desc}}</div>
                </div><!-- b:info -->
            </div><!-- e:item -->

            {% endfor %}

        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:advantages -->