.advantages
    background url('../img/advan-block-bg.png') 50% 50% no-repeat
    background-size cover !important
    padding-top 25px
    padding-bottom 315px
    margin-bottom 60px

    @media screen and (max-width 900px)
        padding-bottom 25px
        background linear-gradient(rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.18)), url('../img/advan-block-bg.png') 50% 50% no-repeat

    &__items
        display flex
        justify-content space-around

        @media screen and (max-width 900px)
            flex-direction column
            justify-content flex-start

    &__item
        width 280px
        text-align center

        @media screen and (max-width 900px)
            display flex
            width 100%
            text-align left
            align-items center
            margin-bottom 30px

        @media screen and (max-width 767px)
            flex-direction column
            text-align center

    &__icon
        width 110px
        height 110px
        margin-bottom 30px

        @media screen and (min-width 901px)
            margin-left auto
            margin-right auto

        @media screen and (max-width 900px)
            margin-right 30px
            margin-bottom 0

        @media screen and (max-width 767px)
            margin-right 0
            margin-bottom 30px

    &__title
        font-size 18px
        font-family : $fonts.other
        color #1d2e22
        font-weight 700
        margin-bottom 10px

    &__desc
        font-size 14px
        font-family 'Gotham Pro'
        color #363535
        font-weight 400