.b-remodal
	position relative	
	h1 
		color #1d2e22
		font-family : $fonts.other
		font-size 25px
		font-weight 700
		line-height 32px
	&__form-text
		display flex 
		flex-direction column
		text-align left
		label 
			color #353535
			font-size 12px
			font-weight 900
			line-height 19px
		input 
			box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
			border-radius 5px
			background-color #ffffff
			width 100%
			padding 19px 10px 17px 15px
			color #828282
			font-family : $fonts.other
			border none
			font-size 14px
			font-weight 400
			line-height 22px
			border 1px solid #e85252
		span
			padding-top 10px
			color #e85252
			font-family : $fonts.other
			font-size 12px
			font-weight 400
			line-height 20px
	&__form-checkbox 
		display flex
		text-align left
		margin-top 35px
		margin-bottom 33px
		color #353535
		font-family : $fonts.other 
		font-size 12px
		font-weight 400
		line-height 20px
		a 
			color #2c92c8
			font-family : $fonts.other 
			font-size 12px
			font-weight 400
			line-height 20px
			text-decoration none
			&:hover 
				text-decoration underline
	&__form__submit
		display flex 
		justify-content center
	&__send-success 
		font-family : $fonts.other 
		font-size 20px
		font-weight 400
		line-height 20px
		display none
					
.remodal 
	padding 50px
	max-width 500px
	width 100%
.remodal-close
	right 0
	&:before
		right 0px
				
.site-btn-in
		padding 23px 24px 21px 25px
		line-height 19px
		min-width 0

.b-remodal__wrap.success
	display none
.b-remodal__send-success.success 
	display block
.remodal-overlay.success
	display none
.remodal-wrapper.remodal-is-closed
	display none