.b-crumbs
    padding-top 24px
    flex none 
    font-size 11px
    font-family : $fonts.other
    font-weight 400
    line-height 1.6
    color #717171
    margin 10px 0
    
    @media screen and (max-width 640px)
        overflow-x auto
    
    &__items
        display flex
        align-items center
        flex-wrap wrap
        @media screen and (max-width 640px)
            flex-wrap nowrap
            overflow-x auto
            white-space nowrap
            width 960px

        a 
            padding 10px 0
            font-size 11px
            font-family : $fonts.other
            color #717171
            font-weight 400
            line-height 1.6
            text-decoration none
            text-transform uppercase
            margin-right 10px
            transition color .3s
            &:hover
                color #353535
                text-decoration underline

        span 
            font-size 25px
            color #8bae73
            line-height 0
            margin-top 6px
            margin-right 10px