<div block="pic-on-main">
    <div elem="section">
        <div elem="items">
            <a elem="item" mods="mod-left" href="#">
                <span elem="title">НОВИНКА ОТ «КРОНИДОВ»</span>
                <span elem="desc">Говядина тушёная, высший сорт</span>
                <span elem="img"><img src="img/pic-main-img2.png" alt=""></span>
            </a><!-- e:item -->
            <a elem="item" mods="mod-middle" href="#">
                <span elem="title">Чем питаться в походе</span>
                <span elem="desc">Готовые наборы еды и полезные рекомендации.</span>
                <span elem="img"><img src="img/pic-main-img.jpg" alt=""></span>
            </a><!-- e:item -->
            <a elem="item" mods="mod-right" href="#">
                <span elem="title">новинка</span>
                <span elem="info">
                    <span elem="desc">Рассольник с потрошками <br> «Каша из топора»</span>
                    <span elem="price">490 р.</span>
                    <span elem="old-price">560 р.</span>
                </span><!-- e:info -->
                <span elem="img" mods="pic"><img src="img/pic-main-img3.png" alt=""></span>
                <span elem="img" mods="icon"><img src="img/pic-main-img3-1.jpg" alt=""></span>
            </a><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:pic-on-main -->