.pic-on-main
    
    &__items
        display flex

        @media screen and (max-width 1023px)
            flex-direction column

    &__item
        text-decoration none
        display block
        flex 1 1 640px
        height 480px
        overflow hidden
        position relative

        @media screen and (max-width 1023px)
            flex none

        &--mod-left
            background #88ac6f url('../img/pic-main-bg.png') 0 0 no-repeat
            background-size cover
            display flex
            flex-direction column
            align-items center
            padding 50px 20px 0 20px
            
            & ^[0]
                &__title
                    font-size 18px
                    font-family : $fonts.other
                    color #fff
                    font-weight 900
                    text-transform uppercase
                    line-height 1
                    padding-left 35px
                    margin-bottom 5px

                    @media screen and (max-width 1275px)
                        padding-left 0
                
                &__desc
                    font-size 20px
                    font-family : $fonts.other
                    color #fff
                    font-weight 400
                    line-height 1.4
                    margin-bottom 20px

                    @media screen and (max-width 1275px)
                        text-align center
                
                &__img
                    margin-top auto
                    
                    img
                        max-width 100%    
                    
        &--mod-middle
            background-color #273a2c
            display flex
            flex-direction column
            justify-content flex-end
            padding 50px 50px 70px 50px
            & ^[0]
                
                &__title
                    font-size 48px
                    font-family : $fonts.other
                    color #fff
                    font-weight 700
                    line-height 1.15
                    width 370px
                    max-width 100%
                    margin-bottom 10px

                    @media screen and (max-width 1275px)
                        font-size 36px

                    @media screen and (max-width 1023px)
                        width 100%
                        margin-bottom 20px     
                
                &__desc
                    font-size 16px
                    font-family : $fonts.other
                    color #fff
                    font-weight 400
                    line-height 1.56

                    @media screen and (max-width 1023px)
                        margin-bottom 20px

                &__img
                    position absolute
                    top 0
                    left 0
                    z-index 1
                    &:before
                        content ''
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
                        background-color #03230859
                        z-index 3
                        transition background-color .3s

                        @media screen and (max-width 480px)
                            left 20% 

                        @media screen and (max-width 375px)    
                            left 50% 

                    @media screen and (max-width 1023px)
                        width 100%

                    @media screen and (max-width 480px)
                        left -20%  

                    @media screen and (max-width 375px)    
                        left -50%    

                    img
                        @media screen and (max-width 1023px)
                            width 100%

                        @media screen and (max-width 640px)
                            width auto    
                
            &:hover        
               & ^[0]
                   &__img
                       &:before
                           background-color transparent

            @media screen and (max-width 1023px)
                text-align center
                padding 20px

            @media screen and (max-width 480px)
                text-align left    
                           
        &--mod-right
            background-color #CD9E36
            display flex
            flex-direction column
            align-items center
            padding 55px 90px 40px 70px

            @media screen and (min-width 1366px) and (max-width 1600px) 
                padding 40px 30px

            @media screen and (max-width 1365px)
                padding 40px 30px
                display block
            
            & ^[0]
                
                &__title
                    font-size 80px
                    font-family : $fonts.other
                    color #f1ce70
                    font-weight 700
                    margin-bottom 70px
                    line-height 0.7

                    @media screen and (min-width 1366px) and (max-width 1600px) 
                        font-size 65px
                        margin-bottom 60px

                    @media screen and (max-width 1365px)
                        font-size 55px
                        margin-bottom 40px

                &__info
                    display flex
                    flex-direction column
                    margin-left auto
                    position relative
                    z-index 3

                    @media screen and (min-width 1366px) and (max-width 1600px) 
                        width 180px

                    @media screen and (max-width 1365px)
                        width 100%    
                
                &__desc
                    font-size 18px
                    font-family : $fonts.other
                    color #fff0c7
                    font-weight 700
                    line-height 1.5
                    margin-bottom 10px
                
                &__price
                    font-size 40px
                    font-family : $fonts.base
                    color #2f1b0f
                    font-weight 900
                    line-height 1
                    margin-bottom 5px

                    @media screen and (max-width 1365px)
                        text-align right
                
                &__old-price
                    font-size 18px
                    font-family : $fonts.base
                    color #a06332
                    font-weight 900
                    text-decoration line-through  
                    @media screen and (max-width 1365px)
                        text-align right   
                
                &__img
                    &--pic
                        position absolute
                        width 203px
                        height 332px
                        top 100px
                        left 60px
                        z-index 2

                        img
                            max-width 100%

                        @media screen and (min-width 1366px) and (max-width 1600px) 
                            top 105px
                            left 20px

                        @media screen and (max-width 1365px)
                            top auto
                            bottom 0
                            left 20px

                        @media screen and (max-width 1023px)
                            left 40%

                        @media screen and (max-width 639px)    
                            left 20px
                    
                    &--icon
                        position absolute
                        width 200px
                        right 45px
                        bottom 40px

                        img
                            max-width 100%

                        @media screen and (min-width 1366px) and (max-width 1600px) 
                            right 10px
                            bottom 6px

                        @media screen and (max-width 1365px)
                            display none
    
    &__title,
    &__desc
        position relative
        z-index 2