<div block="content-pics">
    <div elem="section" class="site-width">

    <div elem="items">
        
        {% for item in contentPics %}
            <div elem="item" {%if loop.first%} mods="first" {%endif%}>
                <a href="#" elem="pic">
                    <img src="{{ item.pic }}" alt="">
                </a><!-- e:pic -->
                <div elem="text">
                    <h3 elem="title">
                        {{ item.title }}
                    </h3><!-- e:title -->
                    <div elem="body">
                        {{ item.body }}
                    </div><!-- e:body -->
                </div><!-- e:text -->
            </div><!-- e:item -->
        {% endfor %}

    </div><!-- e:items -->

    <div elem="footText">
        Сегодня, благодаря использованию лучших современных материалов и технологий, мощному модельно-конструкторскому бюро и испытательным лабораториям, 
        неуклонно растет функциональность и качество выпускаемых изделий для туризма, экстремальных видов спорта и отдыха. Товары данного класса с торговой 
        маркой Компании «СПЛАВ» становятся заметными и востребованными не только в нашей стране, но и за рубежом.
    </div><!-- e:footText -->

    </div><!-- e:section -->
</div><!-- b:content-pics -->