.content-pics
    
    &__items
        display flex
        justify-content space-between
        margin-bottom 60px
        @media screen and ( max-width 767px )
            flex-direction row
            flex-wrap wrap
            align-items center
            justify-content center
        @media screen and ( max-width 639px )
            flex-direction column
    
    &__item
        position relative
        display flex
        flex-direction column
        width 270px
        max-width 100%
        @media screen and ( max-width 1180px )
            width 270px
            max-width 100%
        @media screen and ( max-width 870px )
            width 240px
            max-width 100%
        @media screen and ( max-width 767px )
            width 270px
            max-width 100%
            margin 0 20px 15px
        @media screen and ( max-width 665px )
            margin-left auto
            margin-right auto
        
        &:hover
            box-shadow 0 0 50px rgba(0, 0, 0, 0.2)
            background-color #ffffff
            
            .content-pics__text
                opacity 1
                z-index 1
    
        &--first
            width 580px
            max-width 100%
            @media screen and ( max-width 1180px )
                width 270px
                max-width 100%
            @media screen and ( max-width 870px )
                width 240px
                max-width 100%
            @media screen and ( max-width 767px )
                width 580px
                max-width 100%
            @media screen and ( max-width 639px )
                width 270px
    
    &__pic
        text-decoration none
        font-size 0
        overflow: hidden
            
    &__title
        margin-bottom 12px
        font-size 20px
        font-family : $fonts.other
        font-weight 700
        line-height 27px
        color #1d2e22
        
    &__text
        position: absolute
        top 100%
        left 0
        right 0
        opacity 0
        z-index -1
        padding 30px 36px
        font-size 14px
        font-family : $fonts.other
        font-weight 400
        line-height 22px
        color #353535
        transition opacity .5s
        box-shadow 0 0 50px rgba(0, 0, 0, 0.2)
        background-color #ffffff
    
    &__footText
        font-size 14px
        font-family : $fonts.other
        font-weight 400
        line-height 22px
        color #353535