::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

/* IE 10+ */
::-webkit-input-placeholder
    color : $placeholders.normal
:-moz-placeholder
    color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
    color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
    color : $placeholders.normal

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus

*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box
    outline none !important

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

blockquote
    font-style       : $blockquote.font.style
    padding          : 15px
    padding-left     : $blockquote.gutter
    border-left      : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    font-weight    : $headings.weight
    color          : $headings.color
    text-transform : $headings.transform
    
    &::-moz-selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

    &::selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

template, /* 1 */
[hidden]
    display none

// font weights
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

svg:not(:root)
    overflow hidden
    
.site-width 
    max-width 1240px
    width 100%
    margin 0 auto
    padding-left $appGutter
    padding-right $appGutter
    
.site-btn
    color #1d2e22
    font-family : $fonts.base
    font-size 16px
    font-weight 700
    line-height 1.2
    text-align center
    text-decoration none
    text-transform uppercase
    border 2px solid #1d2e22
    background-color #fff
    display inline-block
    vertical-align top
    min-width 187px
    padding 18px 23px
    transition color, background-color .5s ease
    cursor pointer
    &:hover
        color #fff
        background-color #1d2e22
        border 2px solid #1d2e22
    &:active
        background-color #425748
        border 2px solid #425748

h1
    font-size 30px
    font-family : $fonts.other
    color #1d2e22
    font-weight 700
    line-height 1.2
    margin-bottom 40px

h2
    font-size 25px
    font-family : $fonts.other
    color #1d2e22
    font-weight 700
    line-height 1.2
    margin-bottom 25px

p
    font-size 14px
    font-family : $fonts.other
    color #353535
    font-weight 400
    line-height 1.5
    margin-bottom 20px      
    
a 
    font-size 14px
    font-family : $fonts.other
    font-weight 400
    line-height 22px
    color #2c92c8
