@font-face {
  font-family: 'AkrobatExtraBold';
  src: 
    url("../fonts/Akrobatextrabold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Akrobatextrabold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Akrobatextrabold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AkrobatExtraBold';
  src: 
    url("../fonts/Akrobat.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Akrobat.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Akrobat.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamPro-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GothamPro-Medium.woff") format("woff"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamPro-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GothamPro-Black.woff") format("woff"); /* Modern Browsers */
  font-weight: 900;
  font-style: normal;
}

