.slider-products
    padding-bottom 65px
    margin-bottom 60px
    // box-shadow 0px 4px 4px 0px rgba(0, 0, 0, 0.09)
    position relative
    @media screen and (max-width 960px)
        padding-bottom 30px
    @media screen and (max-width 640px)
        margin-bottom 40px
    &:after
        content ''
        position absolute
        bottom 0
        left 0
        width 100%
        height 8px
        background url('../img/slider-prod-border-bot.png') 0 0 repeat-x

    .lot
        width 300px
        margin-bottom 0

    &__section
        position relative    

    &__head
        text-align center

        @media screen and (max-width 900px)
            text-align left

        @media screen and (max-width 479px)
            text-align center    

    &__title
        font-size 30px
        font-family : $fonts.other
        color #1d2e22
        font-weight 700
        line-height 1.2

        @media screen and (max-width 400px)
            font-size 24px

    &__items
        display flex

        .owl-item
            display flex
            align-items center
            justify-content center

        .owl-stage-outer
            padding-right 5px
            padding-left 5px

        .owl-stage
            display flex
            padding-top 40px
            padding-bottom 30px

        .owl-nav
            position absolute
            top -25px
            right 0
         
            @media screen and (max-width 479px)
                top 15px
                right 50%
                margin-right -40px 

        .owl-prev,
        .owl-next
            width 27px
            height 20px
            display inline-block
            vertical-align top
            background url('../img/arrows.png') 0 0 no-repeat
            &:hover
                background url('../img/arrows-hover.png') 0 0 no-repeat

        .owl-prev
            margin-right 30px
            background-position 0 0

        .owl-next
            background-position -57px 0
            &:hover,
            &:focus
               background-position -57px 0
    
    &__item
        display flex