<div block="slider-products">
    <div elem="section" class="site-width">
        <div elem="head"><span elem="title">{{sliderProductTitle}}</span></div>
        <div elem="items">

            {% for item in lotItem %}

            <div elem="item">
                {% include 'lot.html' %}
            </div><!-- b:item -->
            
            {% endfor %}

        </div><!-- b:items -->
    </div><!-- b:section -->
</div><!-- b:slider-products -->