<footer block="app-footer">
    <div elem="wrap" class="site-width">   
        <div elem="main"> 
            <a elem="footer-logo" href="#"><img src="img/app-logo.png" alt=""></a>
            <nav elem="menu">
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Команда</a></li>
                    <li><a href="#">Контакты и реквизиты</a></li>
                    <li><a href="#">Схема проезда</a></li>
                </ul>
            </nav>
            <div elem="additional">
                <a elem="promotions" href="#">Акции и скидки</a>
                <a elem="development" href="#">Разработка дизайна</a>
                <a elem="contact-link" href="#">Контакты</a>
            </div>
            <div elem="contacts">
                <div elem="phone-order">
                    <div elem="phone">
                        <div elem="phone-img"><img src="img/footer-phone-icon.png" alt=""></div>
                        <a href="tel:+78495464551">+7 849 546-45-51</a></div>
                    <div elem="order"><a href="#" data-remodal-target="modal">Заказать звонок</a></div>
                </div>
                <div elem="email-app">
                    <div elem="email">
                        <div elem="email-img"><img src="img/footer-email-icon.png" alt=""></div>
                        <a href="#">info@splav.ru</a>
                    </div>
                    <div elem="sub-app"><a href="#">Оставить заявку</a></div>
                </div>
                <div elem="location">
                    <div elem="location-img"><img src="img/footer-loc-icon.png" alt=""></div>
                9980023, Москва, Строительный проезд, 7а, корп. 9</div>
            </div>
        </div>
    <div elem="bottom">
        <div>© 2018 ООО «Сплав»</div>
        <div elem="policy"><a href="#">Политика конфиденциальности</a></div>
        <div elem="soc">
            <a href="#" elem="soc-vk"><img src="img/vk.png" alt=""></a>
            <a href="#" elem="soc-fk"><img src="img/fk.png" alt=""></a>
            <a href="#" elem="soc-ins"><img src="img/ins.png" alt=""></a>
        </div>
    </div>
    </div> 
</footer><!-- b:app-footer -->
