.app-footer
    flex none
    background #041011 url(../img/footer-back.png) 0 0 no-repeat 
    margin-top -40px
    padding-bottom 80px
    &__main
        display flex 
        justify-content space-between
        flex-wrap wrap
        padding 50px 0 80px 0
    &__footer-logo
        padding-top 45px
    &__menu
        padding 20px 20px 10px 0px
        ul 
            padding 0
            margin 0
            list-style-type none 
            li 
                a 
                    color #a8b0aa
                    font-family : $fonts.other
                    font-size 14px
                    font-weight 400
                    line-height 30px    
                    padding 0px 0
                    display block
                    text-decoration none
                    &:hover 
                        text-decoration underline 
                        text-decoration-color #2d3837
    &__additional 
        padding 20px 20px 10px 0px      
        a 
            display block
            color #a8b0aa
            font-family : $fonts.other
            font-size 14px
            font-weight 400
            line-height 30px
            padding 1px 0
            text-decoration none
            &:hover 
                text-decoration underline
    &__contacts
        padding 30px 20px 10px 0px
    &__phone-order
         display flex 
         margin-bottom 12px
         margin-left -20px
    &__email-app
        display flex 
        margin-bottom 18px
        margin-left -45px
    &__phone 
        margin-left 20px
        display flex 
        align-items center
        a 
            color #a8b0aa
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover 
                text-decoration underline
    &__phone-img 
            margin-right 10px
            flex 0 0 16px 
            max-width 16px
            width 16px
    &__order 
        margin-left 20px
        display flex
        a 
            color #2c92c8
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover 
                text-decoration underline
    &__email 
        margin-left 45px
        display flex 
        align-items center
        a 
            color #a8b0aa
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover 
                text-decoration underline
    &__email-img 
            margin-right 10px
            flex 0 0 17px 
            max-width 17px
            width 17px
            height auto
    &__sub-app 
        margin-left 45px
        display flex
        a 
            color #2c92c8
            font-family : $fonts.other
            font-size 12px
            font-weight 500
            text-decoration none
            &:hover 
                text-decoration underline
    &__location  
        display flex 
        align-items center
        color #a8b0aa
        font-family : $fonts.other
        font-size 12px
        font-weight 500
    &__location-img 
            margin-right 10px
            flex 0 0 15px 
            max-width 15px
            width 15px
            height auto
    &__bottom 
        display flex 
        justify-content space-around
        color #425748
        font-family : $fonts.other
        font-size 12px
        font-weight 400
        line-height 25px
        flex-wrap wrap 
        div 
            padding 10px 10px 
    &__policy
        a 
            color #425748
            font-family : $fonts.other
            font-size 12px
            font-weight 400
            line-height 25px
            text-decoration none
            &:hover 
                text-decoration underline
                text-decoration-color #2d3837
                color #a8b0aa
    &__soc                
        display flex
        margin-left -24px
        a 
            display block 
            margin-left 24px
    &__soc-vk
        position relative 
        &:before 
            content ""
            position absolute 
            top 2px 
            left 0 
            width 34px
            height 22px
            background url('../img/vk-hover.png') 0 0 no-repeat
            opacity 0
            transition opacity 0.3s ease
        &:hover
            &:before 
                opacity 1
    &__soc-fk
        position relative 
        &:before 
            content ""
            position absolute 
            top 0px 
            left 0 
            width 25px
            height 25px
            background url('../img/fk-hover.png') 0 0 no-repeat
            opacity 0
            transition opacity 0.3s ease
        &:hover
            &:before 
                opacity 1
    &__soc-ins
        position relative 
        &:before 
            content ""
            position absolute 
            top 0px 
            left 0 
            width 25px
            height 25px
            background url('../img/ins-hover.png') 0 0 no-repeat
            opacity 0
            transition opacity 0.3s ease
        &:hover
            &:before 
                opacity 1