.about-us

    &__section
        background url('../img/about-us-bg.png') 0 15px no-repeat
        padding-bottom 330px

        @media screen and (max-width 1023px)
            background none
            padding-bottom 50px

    &__items
        display flex

        @media screen and (max-width 1023px)
            flex-wrap wrap

    &__quote
        width 540px
        max-width 100%
        margin auto 0
        background-color #fff
        box-shadow 0 0 50px rgba(0, 0, 0, 0.2)
        padding 70px 40px 40px 60px
        margin-right -90px
        align-self baseline
        position relative

        @media screen and (max-width 1100px)
            width 430px

        @media screen and (max-width 1023px)
            display flex
            flex-direction column
            flex 1 1 auto
            align-self stretch
            margin 0
            width 300px
        
        @media screen and (max-width 480px)
            padding 30px

    &__title
        font-size 30px
        font-family : $fonts.other
        font-weight 700
        color #88ac6f
        line-height 1.2
        margin-bottom 30px
        @media screen and (max-width 480px)
            font-size 24px

    &__passage
        font-size 16px
        font-family : $fonts.other
        font-weight 400
        color #353535
        line-height 1.8
        margin-bottom 70px

    &__author
        font-size 14px
        font-family : $fonts.other
        font-style italic
        font-weight 400
        color #717171
        text-align right
        line-height 1.79

        @media screen and (max-width 1023px)
            margin-top auto

    &__img
        font-size 0
        margin-right 50px
        width 300px
        height 500px
        max-width 100%

        @media screen and (max-width 1023px)
            margin-right 0

        @media screen and (max-width 639px)
            display none

    &__desc
        flex 1 1 392px

        @media screen and (max-width 1023px)
            margin-top 30px


    &__text
        font-size 14px
        font-family : $fonts.other
        font-weight 400
        color #353535
        line-height 1.5
        max-height 460px
        margin-bottom 20px
        overflow hidden

        @media screen and (max-width 1023px)
            margin-bottom 0

        p
            margin-top 0
            margin-bottom 33px

            @media screen and (max-width 1023px)
                margin-bottom 20px

    &__more
        font-size 12px
        font-family : $fonts.other
        font-weight 700
        color #2c92c8
        text-transform uppercase
        text-decoration none
        line-height 1.67    
        &:hover
            text-decoration underline    