<div block="about-us">
    <div elem="section" class="site-width">
        <div elem="items">
            <div elem="quote">
                <div elem="title">О пользе путешествийи приключений</div>
                <div elem="passage ">«Мир – это книга, и тот, кто не путешествует, читает лишь одну страницу»</div>
                <div elem="author">Святой Августин</div>
            </div><!-- b:quote -->

            <div elem="img"><img src="img/about-us-img.jpg" alt=""></div>

            <div elem="desc">
                <div elem="text">
                    <p>В книге мира все страницы разные. Все новое, все 
                        изменяющееся. Не важно собираетесь вы смотреть 
                        на пирамиды или познакомиться с новой культурой, 
                        не важно, хотите вы от чего-то сбежать или что-то 
                        узнать, на месяц вы собираетесь или на год, мы все 
                        путешествуем потому что ищем перемен. Ищем 
                        чего-то нового, смены повседневных дел или 
                        впечатлений о другой культуре.
                    </p>
                    <p>
                        В последнее время мы стали больше путешествовать 
                        и вот почему — в  современном мире занятости с 9 
                        до 17, ипотек, кредитов и постоянных счетов наши дни 
                        становятся похожими на вечную гонку, практически 
                        неотличимыми друг от друга и очень скучными.
                    </p>
                    <p>
                        Если вы любите пешие, водные, горные и любые 
                        другие походы или путешествия, где цивилизация 
                        и привычный быт остаются далеко в городах, если вы 
                        забираетесь в глушь в поисках заповедных рыбацких 
                        мест, если ваши интересы порой приводят вас 
                        в дикие края, то вы — наш покупатель.
                    </p>
                </div><!-- b:text -->
                <a elem="more" href="#">ЧИТАТЬ ДАЛЬШЕ ...</a>
            </div><!-- b:desc -->
        </div><!-- b:items -->
    </div><!-- b:section -->
</div><!-- b:about-us -->