<div block="b-top-slider">
	<div elem="wrap" class="site-width">
		 <div elem="items" class="owl-carousel">
		    <div elem="item">
		        <img src="img/top-slider-item-img.png" alt="">
		        <span>
		        	Путешествуйте, исследуйте, познавайте, а мы в этом поможем.
					Всё для туризма, отдыха, походов и сплавов.
		        </span>
		    </div><!-- b:item -->
		    <div elem="item">
		        <img src="img/top-slider-item-img.png" alt="">
		        <span>
		        	Путешествуйте, исследуйте, познавайте, а мы в этом поможем.
					Всё для туризма, отдыха, походов и сплавов.
		        </span>
		    </div><!-- b:item -->
		    <div elem="item">
		        <img src="img/top-slider-item-img.png" alt="">
		        <span>
		        	Путешествуйте, исследуйте, познавайте, а мы в этом поможем.
					Всё для туризма, отдыха, походов и сплавов.
		        </span>
		    </div><!-- b:item -->
		    <div elem="item">
		        <img src="img/top-slider-item-img.png" alt="">
		        <span>
		        	Путешествуйте, исследуйте, познавайте, а мы в этом поможем.
					Всё для туризма, отдыха, походов и сплавов.
		        </span>
		    </div><!-- b:item -->
		</div><!-- b:items -->
	</div>
</div><!-- b:slider-products -->