.app--main
    .b-top-slider 
        .owl-nav .owl-next
            background url(../img/top-slider-owl-next.png) 0 0 no-repeat
            width 23px 
            height 44px
            position absolute 
            right 0
            transition background 0.3s ease
            &:hover 
                background url(../img/top-slider-owl-next-hover.png) 0 0 no-repeat
        .owl-nav .owl-prev
            background url(../img/top-slider-owl-next.png) 0 0 no-repeat
            transform rotate(180deg)
            width 23px 
            height 44px
            position absolute 
            left 0
            transition background 0.3s ease
            &:hover 
                transform rotate(180deg)
                background url(../img/top-slider-owl-next-hover.png) 0 0 no-repeat
        .owl-nav
            position absolute 
            top 100px
            left 0 
            right 0
            @media all and (max-width 1024px)
                top 70px
            @media all and (max-width 768px)
                top 50px
            @media all and (max-width 640px)
                display none
        .owl-carousel
            .owl-dots 
                display flex 
                justify-content center 
                margin 80px 0 35px -20px 
            .owl-dot
                width 20px 
                height 20px
                background url(../img/top-slider-dot-bg.png) 0 0 no-repeat
                margin-left 20px
                transition background 0.3s ease
                &:hover 
                    background url(../img/top-slider-dot-hover-white.png) 0 0 no-repeat
                &.active
                    background url(../img/top-slider-dot-hover.png) 0 0 no-repeat
.b-top-slider 
    background url(../img/top-slider-img1.jpg) 0 0 no-repeat
    height 900px
    margin-top -200px
    display flex 
    align-items flex-end
    @media all and (max-width 1023px)
        align-items center
    &__items 
        margin-top 260px    
    &__item 
        text-align center
        img
            padding 0 120px
            @media all and (max-width 768px)
                padding 0 60px
            @media all and (max-width 640px)
                padding 0 20px
        span 
            display block
            position relative 
            color #ffffff
            font-family : $fonts.other
            max-width 720px
            margin 90px auto 0
            font-size 20px
            padding 0 25px
            font-weight 400
            line-height 28px
            &:before 
                content "" 
                position absolute 
                top -45px
                left 50%
                width 50px
                height 5px
                transform translateX(-50%)
                background url(../img/top-slider-text-icon.png) 0 0 no-repeat 
                 
            