<div block="our-brands">
    <div elem="section" class="site-width">
        <div elem="title">Наши бренды</div><!-- b:title -->
        <div elem="items">

        {% for item in ourBrands %}

            <div elem="item">
                <a elem="img" href="#"><img src="img/{{item.img}}" alt=""></a><!-- b:img -->
            </div><!-- b:item -->

        {% endfor %}

        </div><!-- b:items -->
            
    </div><!-- b:section -->
</div><!-- b:our-brands -->