.our-brands
    margin-bottom 110px
    @media screen and (max-width 960px)
        margin-bottom 50px

    &__title
        font-size 30px
        font-family : $fonts.other
        font-weight 700
        color #1d2e22
        line-height 1.23
        text-align center
        margin-bottom 45px

        @media screen and (max-width 900px)
            text-align left

        @media screen and (max-width 479px)
            text-align center

        @media screen and (max-width 400px)
            font-size 24px

    &__items
        display flex
        justify-content space-between
        align-items center

        .owl-nav
            position absolute
            top -70px
            right 0

            @media screen and (max-width 479px)
                top -35px
                right 50%
                margin-right -40px

        .owl-prev,
        .owl-next
            width 27px
            height 20px
            display inline-block
            vertical-align top
            background url('../img/arrows.png') 0 0 no-repeat
            &:hover
                background url('../img/arrows-hover.png') 0 0 no-repeat

        .owl-prev
            margin-right 30px
            background-position 0 0

        .owl-next
            background-position -57px 0
            &:hover,
            &:focus
               background-position -57px 0 

    &__img
        font-size 0    
        display block
        text-decoration none
        width 110px