<div block="content-form">
    <div elem="section" class="site-width">
        <div elem="items">
            <div elem="title">
                Форма обратной связи
                <span>Мы рады ответить на все ваши вопросы. Заполните форму и отправьте нам.</span>
            </div><!-- e:title -->
            <form action="#" elem="form">
                <div elem="input-items" class="has-error">
                    <div elem="input-name">
                        ВАШЕ ИМЯ
                    </div><!-- e:input-name -->
                    <input type="text" name="" id="" required>
                    <div class="error-message">Это поле необходимо заполнить</div>
                </div><!-- e:input-items -->
                <div elem="input-items">
                    <div elem="input-name">
                        ТЕЛЕФОН
                    </div><!-- e:input-name -->
                    <input type="text" name="" id="" required>
                </div><!-- e:input-items -->
                <div elem="input-items">
                    <div elem="input-name">
                        E-MAIL
                    </div><!-- e:input-name -->
                    <input type="text" name="" id="" required>
                </div><!-- e:input-items -->
                <div elem="textarea-items">
                    <div elem="input-name">
                        СООБЩЕНИЕ
                    </div><!-- e:input-name -->
                    <textarea name="" id="" cols="40" rows="4"></textarea>
                </div><!-- e:input-items -->
                <div elem="user-agreement">
                    <input type="checkbox" name="" id="" required>
                    <div elem="agreement-text">
                        Нажимая на кнопку «Отправить» я даю свое согласие
                        на <a href="#">обработку персональных данных.</a>
                    </div><!-- e:user-text -->
                </div><!-- e:user-agreement -->
                <button class="site-btn" type="submit">ОТПРАВИТЬ</button>
            </form>
        </div><!-- e:items -->
        <div elem="pics">
            <div elem="pic-item">
                <div elem="pic">
                    <img src="img/form-pic1.png" alt="">
                </div><!-- e:pic -->
                <div elem="pic-title">
                    Лицензия<br>
                    ISO 9001
                </div><!-- e:title -->
            </div><!-- e:pic-item -->
            <div elem="pic-item">
                <div elem="pic">
                    <img src="img/form-pic2.png" alt="">
                </div><!-- e:pic -->
                <div elem="pic-title">
                    Сертификат
                    соответствия<br>
                    № 5456
                </div><!-- e:title -->
            </div><!-- e:pic-item -->
        </div><!-- e:pic -->
    </div><!-- e:section -->
</div><!-- b:content-form -->