.content-form
    margin-bottom 190px
    
    .site-btn
        min-width 121px
    
    &__section
        display flex
        justify-content flex-end
        @media screen and ( max-width 639px )
            flex-direction column
    
    &__title
        margin-bottom 40px
        font-size 30px
        font-family : $fonts.other
        font-weight 700
        color #1d2e22
        
        span
            display: block
            margin-top 18px
            font-size 14px
            font-family : $fonts.other
            font-weight 400
            color #353535
        
    &__items
        width 550px
        max-width 100%
        margin-right 160px
        text-align: center
        @media screen and ( max-width 1024px ) 
            margin 0 auto 20px
        @media screen and ( max-width 639px )
            width 100%

    &__form
        max-width 370px
        margin 0 auto
        @media screen and ( max-width 639px )
            max-width 100%
            
    &__input-items
        margin-bottom 25px
        text-align left
        
        input
            width 100%
            max-width 100%
            min-height 50px
            padding 10px 15px
            font-size 14px
            font-family : $fonts.other
            font-weight 400
            color #353535
            box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
            border-radius 5px
            background-color #ffffff
            border 1px solid rgba(0, 0, 0, 0.15)
        
    &__textarea-items
        margin-bottom 30px
        text-align left
        
        textarea
            width 100%
            max-width 100%
            min-height 100px
            padding 10px 15px
            box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
            border-radius 5px
            background-color #ffffff
            border 1px solid rgba(0, 0, 0, 0.15)
    
    &__input-name
        margin-bottom 10px
        font-size 12px
        font-family : $fonts.base
        font-weight 400
        color #353535
    
    &__user-agreement
        display flex
        margin-bottom 30px
        text-align left
        input
            opacity 0
            display: none
        
        .jq-checkbox
            width 20px
            height 20px
            min-height auto
            border-radius 3px
            box-shadow none
            box-sizing border-box
            background-color #ffffff
    
    &__agreement-text
        margin-top -5px
        a:hover
            text-decoration: none
        
    &__pics
        display flex
        flex-direction column
        align-self center
        margin 50px 55px 10px 0
        @media screen and ( max-width 639px ) 
            flex-direction row
            margin 30px auto 10px
    
    &__pic-item
        width 110px
        max-width 100%
        margin-bottom 34px
        text-align center
        @media screen and ( max-width 1024px )
            margin 0 10px 34px

    &__pic
        width 110px
        padding 6px
        margin-bottom 14px
        border 1px solid #e9e9e9
        
        img
            max-width 100%
    
    &__pic-title
        padding: 0 5px
        font-size 12px
        font-family : $fonts.other
        font-weight 400
        color #353535
        
.has-error
    .error-message
        display: block
    input
        box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
        border-radius 5px
        border 1px solid #e85252 !important
    
.error-message
    display none
    margin-top 9px
    font-size 12px
    font-family : $fonts.other
    font-weight 400
    color #e85252