.review-food
    padding-top 150px
    padding-bottom 188px
    margin-bottom -30px
    background url('../img/video-block-bg.png') center -70px no-repeat
    position relative

    @media screen and (max-width 1023px)
        padding-top 60px
        padding-bottom 60px
        margin-bottom 0
    
    &__items
        display flex
        align-items center

        @media screen and (max-width 1023px)
            flex-direction column
    
    &__item-video
        flex 1 1 720px
        &:hover
            & ^[0]
                &__play
                    background url('../img/video-play-icon.png') -90px 0 no-repeat

        @media screen and (max-width 1023px)
            flex none
    
    &__video
        display block

    &__preview-pic
        position relative
        display block

        img

            @media screen and (max-width 1023px)
                max-width 100%
        
    &__play
        width 70px
        height 70px
        position absolute
        top 50%
        left 50%
        margin-top -40px
        margin-left -40px
        background url('../img/video-play-icon.png') 0 0 no-repeat
        
    &__item-subscribe
        width 540px
        max-width 100%
        background-color #fff
        padding 65px
        box-shadow 0 0 50px rgba(0, 0, 0, 0.2)
        position relative
        &:after
            content ''
            position absolute
            right 65px
            bottom 65px
            width 73px
            height 77px
            background #fff url('../img/video-block-pic.jpg') 0 0 no-repeat

            @media screen and (max-width 1023px)
                right 45px
                bottom 45px

            @media screen and (max-width 439px)
                display none    

        @media screen and (max-width 1023px)
            width 100%
            padding 45px

        @media screen and (max-width 439px)
            padding 30px        
    
    &__title
        font-size 30px
        font-family : $fonts.other
        color #88ac6f
        font-weight 700
        margin-bottom 10px
        
    &__desc
        font-size 16px
        font-family : $fonts.other
        color #353535
        font-weight 400
        margin-bottom 40px
        line-height 1.6
        