<div block="review-food">
    <div elem="section" class="site-width">
        <div elem="items">
            <div elem="item-video">
                <a elem="video" href="#">
                    <span elem="preview-pic">
                        <img src="img/video-img.jpg" alt="">
                        <span elem="play"></span>
                    </span>
                </a><!-- e:video -->
            </div><!-- e:item-video -->
            <div elem="item-subscribe">
                <div elem="title">Обзор еды</div>
                <div elem="desc">Сегодня мы отведали кашу из кранидов. Узнайте о наших впечатлениях, посмотрев видеоролик.</div><!-- e:desc -->
                <a elem="btn-subscribe" class="site-btn" href="#">ПОДПИСАТЬСЯ НА КАНАЛ</a>
            </div><!-- e:item-subscribe -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:review-food -->