<div block="content-list">
    <div elem="section" class="site-width">
        <div elem="items">
            <ul elem="first">
                <li>Курьером по Москве;</li>
                <li>Курьером по Санкт-Петербургу;</li>
                <li>Курьером по Новосибирску;</li>
                <li>Курьером по Екатеринбургу;</li>
                <li>Самовывоз - Услуга «САМ-БЕРИ»;</li>
                <li>Постаматы и пункты PickPoint;</li>
                <li>Доставка по России.</li>
            </ul>
            <ul elem="second">
                <li>Курьером по Москве;</li>
                <li>Курьером по Санкт-Петербургу;</li>
                <li>Курьером по Новосибирску;</li>
                <li>Курьером по Екатеринбургу;</li>
                <li>Самовывоз - Услуга «САМ-БЕРИ»;</li>
                <li>Постаматы и пункты PickPoint;</li>
                <li>Доставка по России.</li>    
            </ul>
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:content-list -->