.content-list
    
    &__items
        display flex
        margin 100px 0 55px
        flex-wrap wrap
        @media screen and ( max-width 768px )
            margin 30px 0 20px
        @media screen and ( max-width 730px )
            justify-content space-around
        @media screen and ( max-width 480px )
            flex-direction column
        
        ul
            margin: 0 0 20px
            padding: 0
            list-style none
            counter-reset: section;
            
            li
                position: relative
                padding-left 25px

        ul.content-list__first
            margin-right 180px
            @media screen and ( max-width 730px )
                margin-right 20px
            @media screen and ( max-width 532px )
                margin-right 0
                
    &__first
        li
            &:before
                content ''
                position: absolute
                top 50%
                left 0
                margin-top -2px
                width 6px
                height 6px
                background-color #88ac6f
                border-radius 50%
                

    &__second
        li
            &:before
                counter-increment: section;
                content: counter(section) ".";
                position: absolute
                top 50%
                left 0
                margin-top -12px
                color #88ac6f