<div block="content-text">
    <div elem="section" class="site-width">
        <h2 elem="title">{{contentTextTitle}}</h2>
        <div elem="text">
        <p>
            В книге мира все страницы разные. Все новое, все изменяющееся. Не важно собираетесь вы смотреть на пирамиды или познакомиться с новой культурой, не важно, 
            хотите вы от чего-то сбежать или что-то узнать, на месяц вы собираетесь или на год, мы все путешествуем потому что ищем перемен. Ищем чего-то нового, смены 
            повседневных дел или впечатлений о другой культуре. В последнее время мы стали больше путешествовать и вот почему — в  современном мире занятости с 9 до 17, 
            ипотек, кредитов и постоянных счетов наши дни становятся похожими на вечную гонку, практически неотличимыми друг от друга и очень скучными.
        </p>
           
        <p>
            Если вы любите пешие, водные, горные и любые другие походы или путешествия, где цивилизация и привычный быт остаются далеко в городах, если вы 
            забираетесь в глушь в поисках заповедных рыбацких мест, если ваши интересы порой приводят вас в дикие края, то вы — наш покупатель.
        </p>

        </div><!-- b:text -->
    </div><!-- b:section -->
</div><!-- b:content-text -->