<div block="content-text" mods="type2">
    <div elem="section" class="site-width">

        <div elem="text">
            <p>
                В книге мира все страницы разные. Все новое, все изменяющееся. Не важно собираетесь вы смотреть на пирамиды или познакомиться с новой культурой, не важно, 
                хотите вы от чего-то сбежать или что-то узнать, на месяц вы собираетесь или на год, мы все путешествуем потому что ищем перемен. Ищем чего-то нового, смены 
                повседневных дел или впечатлений о другой культуре. В последнее время мы стали больше путешествовать и вот почему — в  современном мире занятости с 9 до 17, 
                ипотек, кредитов и постоянных счетов наши дни становятся похожими на вечную гонку, практически неотличимыми друг от друга и очень скучными.
            </p>
               
            <p>
                Если вы любите пешие, водные, горные и любые другие походы или путешествия, где цивилизация и привычный быт остаются далеко в городах, если вы 
                забираетесь в глушь в поисках заповедных рыбацких мест, если ваши интересы порой приводят вас в дикие края, то вы — наш покупатель.
            </p>

        </div><!-- b:text -->

        <h2 elem="title">История компании</h2>
        <div elem="text">
            <p>
                История образования «СПЛАВ» уходит своими корнями во времена <a href="#">Советского Союза</a>, когда шестеро из семи учредителей Компании серьезно занимались водным 
                туризмом, а наша промышленность еще не выпускала ни суда, ни снаряжение пригодные для хождения по горным рекам. Шить катамараны, спасательные жилеты, 
                гидрокостюмы и щитки для походов приходилось на старых "Zinger"-овских машинках (только эти машинки могли взять материалы любой толщины и фактуры). 
            </p>

            <div elem="quote">
                Туристы-водники сами изготавливали рамы и весла, клеили баллоны катамаранов или плотов и емкости для 
                спасательных жилетов. Поэтому, во времена перестройки, основатели Компании начали делать то, что мало кто тогда умел делать – шить катамараны.
            </div><!-- e:quote -->
               
            <p elem="text-cursiv">
                Соответственно и производственная компания изначально называлась «Средства сплава», а 27 октября 1992 года официально появилась на свет Компания «СПЛАВ».
                Параллельно, руководители Компании искали новые направления производственной деятельности, так как подавляющему большинству населения в 90-е годы 
                было не до туризма.
            </p>

        </div><!-- b:text -->
    </div><!-- b:section -->
</div><!-- b:content-text -->