.content-text
    &__text-cursiv
        font-size 14px
        font-family : $fonts.other
        font-style italic
        color #353535
        line-height 22px
        
    &__text
        a 
            font-size 14px
            font-family : $fonts.other
            font-weight 400
            line-height 22px
            color #2c92c8
        a:hover
            text-decoration: none
    
    &__quote
        position: relative
        margin 10px 0 35px
        padding-left 64px
        font-size 24px
        font-family : $fonts.base
        font-weight 400
        line-height 33px
        color #353535
        
        &:before
            content ''
            position: absolute
            top 15px
            left 0
            width 40px
            height 3px
            background-color #88ac6f
    