.personal-data
    margin-bottom 60px

    &__body
        border 2px solid #ededed
        background-color #fff
        padding 20px 30px

    &__head
        display flex
        justify-content space-between
        flex-wrap wrap
        margin-bottom 25px
    
    &__title
        font-size 16px
        font-family : $fonts.base
        color #1d2e22
        font-weight 900
        margin-right 50px

    &__setting
        padding-left 30px

        @media screen and (max-width 617px)
            margin-top 20px    

    &__edit,
    &__change-pass
        font-size 12px
        font-family : $fonts.other
        color #2c92c8
        font-weight 400
        text-decoration none
        position relative
        &:hover
            text-decoration underline

        @media screen and (max-width 439px)
            display block
            margin-bottom 15px

    &__edit
        margin-right 70px
        &:before
            content ''
            position absolute
            top -5px
            left -30px
            width 21px
            height 21px
            background url('../img/edit-icon.png') 0 0 no-repeat
            background-size contain

    &__change-pass
        &:before
            content ''
            position absolute
            top -5px
            left -30px
            width 19px
            height 21px
            background url('../img/change-pass-icon.png') 0 0 no-repeat
            background-size contain      
        

    &__option
        font-size 14px
        font-family : $fonts.other
        color #353535
        font-weight 500
        margin-bottom 10px
        &:last-child
            margin-bottom 0
        
        strong
            margin-left 5px

        a
            font-size 14px
            font-family : $fonts.other
            color #353535
            font-weight 500
            text-decoration none
