<div block="personal-data">
    <div elem="section" class="site-width">
        <div elem="body">
            <div elem="head">
                <div elem="title">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>
                <div elem="setting">
                    <a elem="edit" href="#">Редактировать</a>
                    <a elem="change-pass" href="#">Изменить пароль</a>
                </div><!-- b:setting -->
            </div><!-- e:head -->
            <div elem="info">
                <div elem="option">ФИО:<strong>Петренко Сергей Николаевич</strong></div>
                <div elem="option">Телефон:<strong><a href="tel:+74953569045">+7 (495) 356-90-45</a></strong></div>
                <div elem="option">E-mail:<strong><a href="mailto:petrenko@gmail.com">petrenko@gmail.com</a></strong></div>
            </div><!-- e:info -->
        </div><!-- e:eody -->
    </div><!-- e:section -->
</div><!-- b:personal-data -->