<div block="my-backpack">
    <div elem="section" class="site-width">
        <form elem="form" action="">
            <div elem="items">
                <div elem="item" mods="head">
                    <div elem="th">ТОВАР</div>
                    <div elem="th">ЦЕНА</div>
                    <div elem="th">КОЛ-ВО, ШТ.</div>
                    <div elem="th">СУММА</div>
                    <div elem="th" mods="last">УДАЛИТЬ</div>
                </div>
                <div elem="item" mods="product">
                    <div elem="td" mods="product-info">
                        <div elem="container">
                            <div elem="item-image">
                                <img src="img/product-img5.jpg" alt="">
                            </div>
                            <div elem="item-info">
                                <div elem="item-name">
                                    <a href="#">Суп гороховый с копчёностями DeliLabs</a>
                                </div>
                                <div elem="item-params-container">
                                    <div elem="item-param">
                                        Артикул: 0980978
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem="td" mods="price">
                        <div elem="th" mods="mobile-959">ЦЕНА</div>
                        <div elem="item-price">490 р.</div>
                        <div elem="item-price-old">560 р.</div>
                    </div>
                    <div elem="td" mods="amount">
                        <div elem="th" mods="mobile-959">КОЛ-ВО, ШТ.</div>
                        <div block="b-amount">
                            <div elem="controls">
                                <button elem="minus">--</button>
                                <input type="text" value="1">
                                <button elem="plus">+</button>
                            </div>
                        </div>
                    </div>
                    <div elem="td" mods="total-price">
                        <div elem="th" mods="mobile-959">СУММА</div>
                        <div elem="item-price" mods="total">490 р.</div>
                    </div>
                    <div elem="td" mods="last">
                        <div elem="th" mods="last mobile-959">УДАЛИТЬ</div>
                        <a href="#"></a>
                    </div>
                </div>
                
                <div elem="item" mods="product">
                    <div elem="td" mods="product-info">
                        <div elem="container">
                            <div elem="item-image">
                                <img src="img/product-img3.jpg" alt="">
                            </div>
                            <div elem="item-info">
                                <div elem="item-name">
                                    <a href="#">Рассольник с потрошками «Каша из топора»</a>
                                </div>
                                <div elem="item-params-container">
                                    <div elem="item-param">
                                        Артикул: 55689873
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem="td" mods="price">
                        <div elem="th" mods="mobile-959">ЦЕНА</div>
                        <div elem="item-price">560 р.</div>
                    </div>
                    <div elem="td" mods="amount">
                        <div elem="th" mods="mobile-959">КОЛ-ВО, ШТ.</div>
                        <div block="b-amount">
                            <div elem="controls">
                                <button elem="minus">--</button>
                                <input type="text" value="1">
                                <button elem="plus">+</button>
                            </div>
                        </div>
                    </div>
                    <div elem="td" mods="total-price">
                        <div elem="th" mods="mobile-959">СУММА</div>
                        <div elem="item-price" mods="total">560 р.</div>
                    </div>
                    <div elem="td" mods="last">
                        <div elem="th" mods="last mobile-959">УДАЛИТЬ</div>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div elem="total-sum">
                <div elem="title-total">Итого:</div>
                <div elem="all-sum">1 050 р.</div>
            </div>
            <div elem="links">
                <a href="#">Продолжить покупки</a>
                <a href="#">Очистить рюкзак</a>
            </div><!-- e:links -->
        </form><!-- e:form -->
    </div>
</div>