.my-backpack

    &__items
        background-color #fff
        box-shadow 0 0 30px rgba(0, 0, 0, 0.1)
        display table
        width 100%

        @media screen and (max-width 959px)
            display block

    &__item
        display table-row

        &--head

            @media screen and (max-width 959px)
                display none

        &--product

            @media screen and (max-width 959px)
                display flex
                flex-direction column
        
    &__th,  
    &__td   
        display table-cell
        &--last
            width 10%
            text-align center
            a
                text-align center
                text-decoration none
                width 19px
                height 22px
                display block
                margin-right auto
                margin-left auto
                background url('../img/delete-icon.png') 0 0 no-repeat
                &:hover
                    background-position -51px 0
        
    &__th
        font-size 14px
        font-family : $fonts.other
        color #353535
        font-weight 700
        text-transform uppercase
        padding 20px 30px
        border-bottom 1px solid #ededed

        &--mobile-959
            display none
            @media screen and (max-width 959px)
                display block
                border none
                padding 10px 0
            @media screen and (max-width 480px)
                font-size 12px
            
    &__td   
        border-bottom 1px solid #e7e7e7
        padding 20px 30px
        &--product-info
            width 60%
        &--price
            width 15%
        &--amount
            width 15%
        &--total-price
            width 10%

        @media screen and (max-width 959px)
            display flex
            justify-content space-between
            align-items center

            &--product-info,
            &--price,
            &--amount,
            &--total-price,
            &--last
                width 100%
                text-align left
                padding-top 10px
                padding-bottom 10px
        
            &--last
                a
                    margin 0
                    
        @media screen and (max-width 480px)
            padding 20px
                        
        
    &__container
        display flex
        align-items center
        
    &__item-image
        margin-right 20px
        // flex 0 0 100px
        width 70px
        img
            max-width 100%
        
    &__item-name
        margin-bottom 5px
        font-weight 500
        a
            font-size 14px
            font-family : $fonts.other
            color #2c92c8
            font-weight 500
            text-decoration none
            &:hover
                text-decoration underline
                
    &__item-param
        font-size 12px
        color #353535
        font-weight 400
        font-family : $fonts.other
        img
            margin-right 9px
        span
            color #000
            
            
    &__item-price
        font-size 20px
        font-family : $fonts.base
        font-weight 900
        color #1d2e22
        
    &__item-price-old
        font-size 16px
        font-family : $fonts.base
        color #717171
        font-weight 900
        text-decoration: line-through
        white-space nowrap
        position relative

    .b-amount
        
        &__controls
            display flex
            width 94px
            height 54px
            background-color #fff
            border-radius 5px
            box-shadow 0 0 10px rgba(0, 0, 0, 0.15)

            input
                font-size 15px
                font-family : $fonts.other
                color #353535
                font-weight 400
                text-align center
                border none
                width 30px

        &__minus,
        &__plus
            font-size 25px
            font-family Arial
            color #717171
            font-weight 300
            width 35px
            border none
            background-color #fff
            cursor pointer
            padding 0
            transition color .3s
            &:hover
                color #88ac6f

        &__minus
            letter-spacing -2px
    
    &__total-sum
        font-family : $fonts.base
        font-weight 900
        color #1d2e22
        padding 10px 20px
        margin-bottom 20px
        background-color #d7e7c1
        display flex
        justify-content flex-end
        align-items baseline
        box-shadow inset 0px 3px 10px 0px #c0d3a6

    &__title-total
        font-size 18px
        margin-right 30px

    &__all-sum
        margin-right 140px
        font-size 25px

        @media screen and (max-width 959px)
            margin-right 0
            
    &__links
        a
            font-size 12px
            font-family : $fonts.other
            color #2c92c8
            font-weight 500
            text-decoration none
            margin-right 30px
            &:hover
                text-decoration underline
            
            &:last-child
                margin-right 0