<div block="products-list" {% if pageTitle == 'Избранное' %} mods="favourites" {% endif %}>
    <div elem="section" class="site-width">
        <div elem="items">

            {% for item in lotItem %}
                {% include 'lot.html' %}
            {% endfor %}

        </div><!-- b:items -->

        {% include 'pagination.html' %}

    </div><!-- b:section -->
</div><!-- b:products-list -->