.products-list
    padding-bottom 40px
    margin-bottom 60px
    position relative
    &:after
        content ''
        position absolute
        bottom 0
        left 0
        width 100%
        height 8px
        background url('../img/slider-prod-border-bot.png') 0 0 repeat-x

    &__items
        display flex
        flex-wrap wrap
        margin-right 2px

        @media screen and (max-width 1233px)
            width 900px
            max-width 100%
            margin 0 auto

        @media screen and (max-width 935px)
            width 600px

        @media screen and (max-width 635px)
            width 100%
            justify-content center

    .pagination
        margin-top 20px

        @media screen and (max-width 767px)
            margin-right auto
            margin-left auto

    &--favourites
        &:after,
        .pagination
            display none