<div block="lot">
    <form elem="form" action="">
        <div elem="top">
            <div elem="stickers">
                {% if item.lotSticker_discount == 'discount' %}<span elem="sticker" mods="discount">%</span>{% endif %}
                {% if item.lotSticker_hit  == 'hit' %}<span elem="sticker" mods="hit">ХИТ</span>{% endif %}
                {% if item.lotSticker_new  == 'new' %}<span elem="sticker" mods="new">NEW</span>{% endif %}
            </div><!-- e:stickers  -->
            <a elem="link-img" href="#">
                <span elem="img"><img src="img/{{item.img}}" alt=""></span>
            </a>
            <a elem="name" href="#">{{item.name}}</a>
            <div elem="option">
                <span>{{item.weight}}</span>
            </div><!-- e:option -->
            <div elem="info-price">
                <div elem="current-price">{{item.currentPrice}}</div>
                <div elem="old-price">{{item.oldPrice}}</div>
            </div><!-- e:info-price -->
        </div><!-- e:top -->
        <div elem="bot">
            <button elem="btn" class="site-btn" type="submit">ПОЛОЖИТЬ В РЮКЗАК</button>
            {% if pageTitle != 'Избранное' %}<span elem="favourites"><input type="checkbox" name="" id=""></span>{% endif %}
            {% if pageTitle == 'Избранное' %}<span elem="delete-product"><a href="#"></a></span>{% endif %}
        </div><!-- e:bot -->
    </form><!-- e:form -->
</div><!-- b:lot -->