.lot
    width 300px
    padding 40px 30px 30px 30px
    background-color #fff
    border-right 1px solid #ededed
    border-left 1px solid #ededed
    position relative
    transition box-shadow .3s
    display flex
    margin-bottom 20px
    margin-left -2px
    &:hover
        box-shadow 0 0 50px rgba(0, 0, 0, 0.2)
        z-index 1
    
    &__form
        display flex
        flex-direction column

    &__top
        flex 1 1 auto 

    &__stickers
        position absolute
        top 0
        left 0
        display flex
        flex-direction column
        align-items baseline

    &__sticker
        font-size 12px
        font-family : $fonts.other
        font-weight 900
        color #fff
        padding 5px 10px
        border-radius 0 0 5px
        margin-bottom 5px
        align-self baseline

        &--discount
            background-color #e85252
        &--hit
            color #1d2e22
            background-color #ffbf14
        &--new
            background-color #88ac6f

    &__link-img
        display flex
        align-items center
        justify-content center 
        max-width 238px
        width 100%
        height 200px
        margin-right auto
        margin-bottom 30px
        margin-left auto

    &__img
        display block             
        transform translate3d(0, 0, 0)

    &__name
        font-size 14px
        font-family : $fonts.other
        color #2c92c8
        font-weight 500
        margin-bottom 10px
        line-height 1.5
        display block
        text-decoration none
        max-width 238px
        min-width 238px
        &:hover
            text-decoration underline

    &__option    
        font-size 12px
        font-family : $fonts.other
        color #353535
        font-weight 500
        margin-bottom 20px
        span
            display block
    
    &__info-price
        margin-bottom 25px
        display flex
        align-items baseline

    &__current-price
        font-size 30px
        font-family : $fonts.base 
        color #1d2e22
        font-weight 900
        line-height 1
        margin-right 20px

    &__old-price
        color #717171
        font-family : $fonts.base 
        font-size 18px
        font-weight 900
        line-height 1
        text-decoration line-through

    &__bot
        display flex
        align-items center
        justify-content space-between
        

    &__favourites
        font-size 0

        .jq-checkbox
            width 27px
            height 30px
            border none
            margin-right 0

            .jq-checkbox__div
                width 27px
                height 30px
                border none
                background url('../img/compare-icon-all.png') 1px 0 no-repeat
                margin 0
                transform none
                &:hover
                    background-position -120px 0
            &.checked
                .jq-checkbox__div
                    background-position -183px 0

    &__btn

        &.added-product
            color #88ac6f
            border-top 1px solid #c0d3a6
            border-right 1px solid transparent
            border-bottom 1px solid transparent
            border-left 1px solid transparent
            box-shadow inset 0px 5px 5px 0px #c0d3a6
            background-color #d7e7c1

    &__delete-product
        a
            text-decoration none
            width 19px
            height 22px
            display block
            background url('../img/delete-icon.png') 0 0 no-repeat
            &:hover
                background-position -51px 0