<div block="pagination">
    <div elem="section">
        <div elem="list">
            <a elem="prev-step" href="#"></a>
            <a elem="link" class="active-count-page" href="#">1</a>
            <a elem="link" href="#">2</a>
            <a elem="link" href="#">3</a>
            <span>...</span>
            <a elem="link" href="#">18</a>
            <a elem="next-step" href="#"></a>
        </div><!-- b:list -->
    </div><!-- b:section -->
</div><!-- b:pagination -->