.pagination
    margin-left auto 
    width 300px
    max-width 100%

    @media screen and (max-width 767px)
        margin-left 0
    
    @media screen and (max-width 480px)
        margin-left auto
        margin-right auto
    
    &__list
        display flex
        align-items center

        span
            font-size 12px
            font-family : $fonts.other
            color #353535
            font-weight 400
            display block
            margin-top -5px
            margin-right 5px

    &__link
        font-size 12px
        font-family : $fonts.other
        color #353535
        font-weight 400
        line-height 1.7
        text-decoration none
        margin-right 5px
        margin-bottom 5px
        display inline-block
        vertical-align top
        padding 4px 15px
        border 1px solid transparent
        border-radius 15px
        transition color, border .3s
        &.active-count-page
            border 1px solid #ededed
            background-color #ededed
            &:hover
                color #353535
                border 1px solid #ededed
                background-color #ededed
                cursor default

        &:hover
            color #87ac6f
            border 1px solid #87ac6f    

    &__prev-step,
    &__next-step
        width 27px
        height 20px
        display inline-block
        vertical-align top
        background url('../img/arrows.png') 0 0 no-repeat
        margin-top -5px

        &:hover
            background url('../img/arrows-hover.png') 0 0 no-repeat

    &__prev-step
        margin-right 20px

        @media screen and (max-width 330px)
            margin-right 15px

    &__next-step
        background-position -57px 0
        margin-left 20px
        &:hover,
        &:focus
            background-position -57px 0

        @media screen and (max-width 330px)
            margin-left 15px