.b-order
    padding-top 60px
    &__form
        display flex 
        margin-left -45px
        @media all and (max-width 800px)
            flex-direction column
            margin-left 0
        
        .item
            &:hover
                .item-title
                    border 2px solid #d5ae45
        .item-title
            transition border-color .5s

    &__address 
        max-width 370px
        width 100%
        margin-left 45px
        @media all and (max-width 800px)
            max-width 100%
            margin-left 0
    &__details 
        max-width 370px
        width 100%
        margin-left 45px
        @media all and (max-width 800px)
            max-width 100%
            margin-left 0
            margin-top 15px
    &__payment 
        max-width 370px
        width 100%
        margin-left 45px
        @media all and (max-width 800px)
            max-width 100%
            margin-left 0
            margin-top 35px
    &__address-title
        border 2px solid #ededed
        padding 18px 10px
        color #1d2e22
        font-size 16px
        font-weight 900
        line-height 19px
        text-align center
    &__details-title
        border 2px solid #ededed
        padding 18px 10px
        color #1d2e22
        font-size 16px
        font-weight 900
        line-height 19px
        text-align center
    &__payment-title
        border 2px solid #ededed
        padding 18px 10px
        color #1d2e22
        font-size 16px
        font-weight 900
        line-height 19px
        text-align center
    &__form-inputs 
        display flex 
        margin-left -30px
        div 
            margin-left 30px
        @media all and (max-width 800px)
            flex-direction column
    &__form-input 
        display flex 
        flex-direction column
        margin-top 30px
        label
            color #353535
            font-size 12px
            font-weight 900
            line-height 8px
        input[type='text'].styler 
            width 100%
            box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
            border-radius 5px
            background-color #ffffff
            border 1px solid #eeeeee
            padding 15px 16px
            color #353535
            font-family : $fonts.other
            font-size 14px
            font-weight 400
            line-height 22px
        textarea.styler 
            box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
            border-radius 5px
            background-color #ffffff
            border 1px solid #eeeeee            
            padding 15px 16px
            color #353535
            font-family : $fonts.other
            font-size 14px
            font-weight 400
            line-height 22px
        span
            padding-top 10px
            color #e85252
            font-family : $fonts.other
            font-size 12px
            font-weight 400
            line-height 20px

    .jqselect 
        box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
        border-radius 5px
        background-color #ffffff
        border none
    .jq-selectbox__select
        padding 13px 16px
    .jq-selectbox__trigger
        top 50% 
        right 0px
    .jq-selectbox__trigger-arrow
        background url(../img/select-icon.png) 0 0 no-repeat 
        width 14px 
        height 7px
    .jq-selectbox.opened
        .jq-selectbox__trigger-arrow
            transform rotate(180deg)
    .jq-selectbox__dropdown 
        top 50px
        ul 
            li 
                padding 5px 16px
                color #353535
                font-family : $fonts.other
                font-size 14px
                font-weight 400
                line-height 35px
                &:first-child
                    background #fff
                &:hover 
                    background #ededed
                    color #353535
                    font-family : $fonts.other
                    font-size 14px
                    font-weight 400
                    line-height 35px
    .jq-selectbox__select-text 
        color #353535
        font-family : $fonts.other
        font-size 14px
        font-weight 400
        line-height 22px
    &__form-checkbox 
        display flex
        text-align left
        margin-top 35px
        margin-bottom 22px
        color #353535
        font-family : $fonts.other 
        font-size 12px
        font-weight 400
        line-height 20px
        a 
            color #2c92c8
            font-family : $fonts.other 
            font-size 12px
            font-weight 400
            line-height 20px
            text-decoration none
            &:hover 
                text-decoration underline
    .site-btn 
        min-width 160px