<div block="b-order" class="site-width">
    <h1>Оформление заказа</h1>
    <form elem="form">    
        <div elem="address" class="item">
            <div elem="address-title" class="item-title">1. СПОСОБ И АДРЕС ДОСТАВКИ</div>
            <div elem="form-input">
                <label for="select-address">СПОСОБ ДОСТАВКИ</label>
                <div elem="select-box" class="jq-selectbox">    
                    <select id="select-address">
                        <option>Самовывоз</option>
                        <option>Самовывоз</option>
                        <option>Самовывоз</option>
                        <option>Самовывоз</option>
                    </select>
                </div>
            </div>
            <div elem="form-input" class="has-error">
                <label for="city">ГОРОД</label>
                <input reqiured class="styler" type="text"  id="city" placeholder="Новокузнецк">
                <div class="error-message">Это поле необходимо заполнить</div>
            </div>
            <div elem="form-input">
                <label for="address">АДРЕС</label>
                <textarea class="styler" id="address" cols="30" rows="3" placeholder="ул. Коммунистическая, 28, кв. 30"></textarea>
            </div>
        </div>
        <div elem="details" class="item">
            <div elem="details-title" class="item-title">2. ДАННЫЕ ПОКУПАТЕЛЯ</div>
            <div elem="form-inputs">
                <div elem="form-input">
                    <label for="city">E-ИМЯ</label>
                    <input reqiured class="styler" type="text"  id="city">
                </div>
                <div elem="form-input">
                    <label for="city">E-ФАМИЛИЯ</label>
                    <input reqiured class="styler" type="text"  id="city">
                </div>
            </div>
            <div elem="form-input">
                <label for="city">E-MAIL</label>
                <input reqiured class="styler" type="text"  id="city">
            </div>
            <div elem="form-input">
                <label for="city">ТЕЛЕФОН</label>
                <input reqiured class="styler" type="text"  id="city">
            </div>
        </div>
        <div elem="payment" class="item">
            <div elem="payment-title" class="item-title">3. СПОСОБ ОПЛАТЫ</div>
            <div elem="form-input">
                <label for="select-address">СПОСОБ ОПЛАТЫ</label>
                <div elem="select-box" class="jq-selectbox">    
                    <select id="select-address">
                        <option>Безналичный рассчет</option>
                        <option>Безналичный рассчет</option>
                        <option>Безналичный рассчет</option>
                        <option>Безналичный рассчет</option>
                    </select>
                </div>
            </div>
            <div elem="form-input">
                <label for="address">КОММЕНТАРИЙ К ЗАКАЗУ</label>
                <textarea class="styler" id="address" cols="30" rows="3"></textarea>
            </div>
            <div elem="form-checkbox">
                <input reqiured class="styler"  type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox">С <a href="#">условиями обработки данных</a> ознакомлен и согласен</label>
            </div>
            <button type="submit" class="site-btn">ОФОРМИТЬ ЗАКАЗ</button>
        </div>
    </form>
</div>