<div block="content-slider">
    <div elem="section" class="site-width">
        <h4 elem="title">
            Карусель фотографий с подписями (h4)
        </h4><!-- e:title -->
        <div elem="items">
            {% for item in contentSlider%}
                <div elem="item">
                    <a href="{{ item.pic }}" elem="pic" data-lightbox="image-2">
                        <img src="{{ item.pic }}" alt="">
                    </a><!-- e:pic -->
                    <div elem="text">
                        {{ item.text }}
                    </div><!-- e:text -->
                </div><!-- e:item -->
            {% endfor %}
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:content-slider -->