.content-slider
    
    &__items
        display flex
        justify-content space-between
        margin-bottom 79px
    
    &__title
        font-size 18px
        font-family : $fonts.other
        font-weight 700
        color #1d2e22
        
    &__pic
        margin-bottom 20px
        text-decoration none
        font-size 0